
/data/3DModels
/data/Orders
/data/products
/data/Users
/data/devData
/data/Archive
/resources/_fonts
/resources/lib/other
/resources/php/vendor
/vendor2
/old
/resources/css/Output
/Splint/logs
/_rechnungen
/_other
/_old
/_EMailData
/_devData
