@use '../../../themes/theme1/vars';
@use '../../../themes/theme1/main' as Tmain;
@use '../../../themes/theme1/buttons' as Tbuttons;
@use '../../../../../../Splint/scss/tools/tools' as S_tools;
@use '../../converter/elements/LeftBar';
@use "sass:color";


@mixin projectDetails-desktop(){
    >.subWindow_MAIN {
        > .background {
            background-color: rgba(vars.$color-background-subWindow, 0.6);
            animation: translateProjectDetailsBackground 0.3s ease ;
        }
        > .content.converterStart {
            font-size: 1.5rem;
            margin-top: 3.5vh;
            height: calc(90% - 4vh);
            animation: translateProjectDetails 0.3s ease;
            width: 95%;
            max-width: 90rem;
            display: flex;
            border-radius: 0;
            flex-direction: column;
            justify-content: stretch;
            @include Tmain.TContainer_basic();
            > button {
                > span {
                    font-size: 3rem;
                }
            }
            > .buttonDivLeft {
                position: absolute;
                left: 0;
                top: 0;
                display: flex;
                flex-direction: column;
                z-index: 1001;
                > button {
                    > span {

                    }
                }
            }
            > .headContainer {
                position: relative;
                display: flex;
                display: none !important;
                flex-direction: row;
                width: 100%;
                height: 4rem;
                > div {
                    > span {
                        font-size: 3rem;
                    }
                }
            }
            > .mainContainer {
                position: relative;
                display: flex;
                border-radius: 0;
                flex-direction: row;
                justify-content: stretch;
                width: 100%;
                height: calc(100% );
                > .ImageContainerMain {
                    margin-bottom: 0;
                    position: relative;
                    height: 100%;
                    aspect-ratio: vars.$LIGHTER-ratio; 
                    display: flex;
                    flex-direction: column;
                    // justify-content: stretch;
                    align-items: center;
                    max-width: 100%;
                    width: fit-content;
                    box-sizing: content-box !important;
                    overflow: hidden;
                    > .ImageContainerScroll {
                        position: relative;
                        height: 100%;
                        aspect-ratio: vars.$LIGHTER-ratio; 
                        width: auto;
                        padding-top: 5%;
                        padding-bottom: 5%;
                        box-sizing: border-box !important;
                        overflow: hidden;
                        > .ImageContainerInner {
                            position: relative;
                            height: 100%;
                            scroll-snap-type: x mandatory;
                            // scroll-snap-points-x: repeat(20%);
                            box-sizing: border-box !important;
                            width: 100%;
                            justify-content: center;
                            overflow: hidden;
                            // overflow-x: auto;
                            display: flex;
                            flex-direction: row;
                            > div {
                                padding: 0rem;
                                scroll-snap-stop: always;
                                scroll-behavior: smooth;
                                scroll-snap-align: center;
                                visibility: hidden;
                                &[state*='active']{
                                    visibility: visible;
                                }
                            }
                            >.Lighter3D {
                                user-select: none;
                                aspect-ratio: vars.$LIGHTER-ratio;
                                position: absolute;
                                // width: 100%;
                                height: 100%;
                                box-sizing: content-box !important;
                                transform: translateY(-5%);
                                > canvas {
                                    transform: scale(1.2);
                                    -ms-transform: scale(1.2);
                                    -webkit-transform: scale(1.2);
                                    &[showdimensions*='true']{
                                        transform: scale(1);
                                        -ms-transform: scale(1);
                                        -webkit-transform: scale(1);
                                    }
                                    transition: transform 0.2s ease-in-out;
                                    box-sizing: content-box !important;
                                }
                            }
                            > .imgEleBody {
                                user-select: none;
                                position: absolute;
                                height: 100%;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                // aspect-ratio: vars.$LIGHTER-ratio;
                                min-width: min-content;
                                width: fit-content;
                                overflow: hidden;
                                box-sizing: border-box !important;
                                padding: 0rem;
                                > img {
                                    display: block;
                                    max-width:100%;
                                    max-height:100%;
                                    width: auto;
                                    height: auto;
                                    object-fit: scale-down;
                                    overflow: hidden;
                                }
                            }
                            
                        } 
                    }
                    > .buttonsContainer {
                        // display: none !important;
                        position: relative;
                        bottom: 0;
                        border-radius: 0;
                        box-shadow: none;
                        width: calc(90% - 1rem);
                        height: 10%;
                        margin: 0;
                        margin-bottom: 0.5rem;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-evenly;
                        margin-right: 1rem;
                        gap: 0.25rem;
                        > button {
                            // flex: 1;
                            width: fit-content;
                            position: relative;
                            bottom: 0;
                            border-radius: 0;
                            padding: 0rem;
                            box-shadow: none;
                            // aspect-ratio: 1/1;
                            width: 7%;
                            background-color: transparent;
                            border: none;
                            transition: transform 0.1s ease-in;
                            cursor: pointer;
                            // @include Tmain.TButton_Animated(false, false);
                            // width: calc(100% - 1rem);
                            margin: 0;
                            > span {
                                font-size: 3rem;
                            }
                            &:hover {
                                transform: scale(1.1);
                            }
                        }
                        > .imagePreviewContainer {
                            // overflow: hidden;
                            position: relative;
                            width: calc(86% - 1rem);
                            height: 100%;
                            max-width: 100%;
                            overflow-y: hidden;
                            overflow-x: auto !important;
                            // min-width: fit-content;
                            scroll-snap-type: x mandatory;
                            display: flex;
                            flex-direction: row;
                            flex-wrap: nowrap;
                            align-items: center;
                            > .imgEleBody {
                                height: 90%;
                                aspect-ratio: 1/1;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                cursor: pointer;
                                > img {
                                    height: 100%;
                                    transition: transform 0.1s ease-in;;
                                    &:hover {
                                        transform: scale(1.1);
                                    }
                                }
                                &.L3D {
                                    > canvas {
                                        height: 100%;
                                        aspect-ratio: vars.$LIGHTER-ratio;
                                        transform: scale(1.5) translateY(-1%);
                                        transition: transform 0.1s ease-in;;
                                        &:hover {
                                            transform: scale(1.6) translateY(-1%);
                                        }
                                    }
                                }
                                &[state*='active'] {
                                    > img {
                                        transform: scale(1.1);
                                    }
                                    &.L3D {
                                        > canvas {
                                            transform: scale(1.6) translateY(-1%);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                > .informationDiv {
                    container: informationDiv / inline-size;
                    flex: 1;
                    padding-right: 0em;
                    width: auto;
                    max-width: 100%;
                    // transform: translateY(-4rem);
                    height: calc(100%);
                    display: flex;
                    flex-direction: column;
                    box-sizing: border-box;
                    overflow: visible;
                    overflow-x: visible;
                    margin-left: 0rem;
                    background-color: transparent;
                    > .informationContent {
                        height: 100%;
                        display: flex;
                        margin-left: 1rem;
                        flex-direction: column;
                        > .headline {
                            margin-left: -5rem;
                            width: 98%;
                            overflow: hidden;
                            > span {
                                font-size: 3rem;
                            }
                        }
                        > hr {
                            width: 100%;
                            left: 0;
                            &:first-of-type {
                                width: calc(100% + 5rem);
                                left: -5rem
                            }
                        }
                        > .informationTableBody {
                            > .headline {
                                // @include S_tools.SPLINT-border-inset();
                                display: none;
                            }
                            > .informationTable {
                                // border: 1px solid red;;
                                    padding-left: 0.5rem;
                                > table {
                                    border-collapse: collapse;
                                    min-width: 50%;;
                                    // border: 1px solid black;;
                                        > :first-child{
                                            border: none;
                                        }
                                    > tr {
                                        // border-bottom: 1px solid black ;;

                                        :first-child{
                                            border:  none !important;
                                            padding-right: 1rem;
                                        }
                                        > td {
                                            padding-bottom: 0.5rem;
                                            // border-bottom: 2px solid yellow !important;;
                                        // border-bottom: 3px solid red !important;;
                                            > div {
                                                > span {
                                                    
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        > .colorContainer {
                            position: relative;
                            width: calc(100% - 1rem);
                            padding: 0.5rem;
                            display: flex;
                            flex-direction: column;
                            
                            gap: 0.5rem;
                            > .headline {
                                > span {
                                    font-size: 1.5rem;
                                }
                            }
                            > .contentElement {
                                width: 100%;
                                display: flex;
                                flex-direction: row;
                                justify-content: start;
                                gap: 1rem;
                                > button {
                                    height: 2rem;
                                    width: 4rem;
                                    border-radius: 5px;
                                }
                            }
                        }
                        > .EPTypeContainer {
                            position: relative;
                            width: calc(100% - 1rem);
                            padding: 0.5rem;
                            display: flex;
                            flex-direction: column;
                            
                            gap: 0.5rem;
                            > .headline {
                                > span {
                                    font-size: 1.5rem;
                                }
                            }
                            > .contentElement {
                                width: 100%;
                                display: flex;
                                flex-direction: row;
                                justify-content: start;
                                gap: 1rem;
                                > div {
                                    &[state*='passive']{
                                            background: #4f4f4f!important;
                                        
                                    }
                                    margin-inline: 0;
                                    // padding: 0.5em;
                                    // &[state*='active']{
                                    //     background-color: vars.$color-primary;
                                    // }
                                    // > span {
                                    //     font-size: 2rem!important;
                                    // }
                                    min-width: fit-content;
                                    max-width: 50%;
                                    width: 15rem;
                                    border: 1px solid gray;
                                    border-radius: 5px;
                                    // width: calc(100% - 2px);
                                    height: calc(100% - 2px);
                                    // margin: 1px;
                                    // @include Tmain.clipEdgesAll(5px);
                                    
                                    &[value *= 'GOLD']{     
                                        
                                        background:   //linear-gradient(-50deg, $gold, 45%, rgb(255, 255, 255) ,55%, $gold ),
                                                    radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
                                                    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
                                        color: vars.$color-primary-text;
                                        
                                        > button {
                                            $gold : color.adjust(vars.$color-gold, $alpha: -0.7);  
                                            background:   linear-gradient(-50deg, $gold, 45%, rgb(255, 255, 255, 0.9) ,55%, $gold );
                                            background-size: 200% 200%;
                                            animation-name: AnimationEPtype2; 
                                            animation-duration: 0.3s;
                                            animation-timing-function: cubic-bezier(0.87, 0.57, 0.16, 0.77);
                                            animation-fill-mode: forwards;
                                        }
                                        &:hover {
                                            > button {
                                                animation-name: AnimationEPtype; 
                                                animation-duration: 0.3s;
                                                animation-timing-function: cubic-bezier(0.16, 0.77, 0.87, 0.57);
                                                animation-fill-mode: forwards;
        
                                            }
                                        }
                                    }         
                                    &[value *= 'CHROME']{     
                                        background: linear-gradient(
                                          -50deg,
                                          #999 5%,
                                          #fff 10%,
                                          #ccc 30%,
                                          #ddd 50%,
                                          #ccc 70%,
                                          #fff 80%,
                                          #999 95%
                                        );
                                        > button {
                                            $chrome : color.adjust(vars.$color-chrome, $alpha: -0.9);  
                                            background:   linear-gradient(-50deg, $chrome, 45%, rgb(255, 255, 255, 0.9) ,55%, $chrome );
                                                                  
                                            color: vars.$color-primary-text;
        
                                            background-size: 200% 200%;
                                            animation-name: AnimationEPtype2; 
                                            animation-duration: 0.3s;
                                            animation-timing-function: cubic-bezier(0.87, 0.57, 0.16, 0.77);
                                            animation-fill-mode: forwards;
        
                                        }
                                        &:hover {
                                            > button {
                                                animation-name: AnimationEPtype; 
                                                animation-duration: 0.3s;
                                                animation-timing-function: cubic-bezier(0.16, 0.77, 0.87, 0.57);
                                                animation-fill-mode: forwards;
                                            }
                                        }
                                    }      
                                    > button {
                                        height: 100%;
                                        width: 100%;
                                        padding: 0.25rem;
                                        mix-blend-mode: hard-light;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        > span {
                                            font-size: 1.1rem;
                                            opacity: 1;
        
                                        }
                                    }
                                }
                            }
                        }
                        > .descBody {
                            // padding-left: 0.5rem;
                            overflow: auto;
                            height: fit-content;
                            width: 100%;
                            padding: 0.5rem;
                            > .headline {
                                width: 100%;
                                > span {
                                    font-size: 1.5rem;;
                                }
                            }
                            > .descContent {
                                > span {
                                    font-size: 1rem;
                                }
                            }
                        }
                        > .priceBody {
                            flex-grow: 1;
                            height: fit-content;
                            font-size: 3rem;
                            > div {
                                position: sticky;
                                float: right;
                                top: 100%;
                            }
                        }
                    }
                    > .buyBody {
                        position: sticky;
                        width: 100%;
                        left: 0%;
                        display: flex;
                        padding-inline: 0.5rem;
                        padding-bottom: 0.5rem;
                        padding-left: 0rem;
                        box-sizing: border-box;
                        flex-direction: row;
                        flex-wrap: nowrap;
                        justify-content: space-around;
                        align-items: end;
                        // align-items: stretch;
                        // justify-items: stretch;
                        gap: 1rem;
                        // > .amountInputContainer {
                        //     width: 100%;
                        //     display: flex;
                        //     flex-direction: row;
                        //     > .amountInputDesc {
                        //         display: none;
                        //         font-size: 1rem;
                        //         > span {

                        //         }
                        //     }
                        //     > .AmountDiv {
                        //         border: none;
                        //         // background-color: red;
                        //         position: relative;
                        //         height: 100%;
                        //         width: 100%;
                        //         display: flex;
                        //         flex-direction: row;
                        //         align-items: center;
                        //         align-content: center;
                        //         justify-content: center;
                        //         box-sizing: border-box;
                        //         padding: 0.15rem;
                        //         padding-top: 0.07rem;
                        //         // padding-inline: 0.7rem;
                        //         padding-left: 0.25rem;
                        //         padding-right: 0.4rem;
                        //         transform: translateX(0px) skewX(-20deg);
                        //         @include S_tools.SPLINT-border-inset(vars.$color-T_container-Dark-M  , 2px, true, true, true, true);
                        //         > button {
                        //             box-sizing: border-box;
                        //             @include Tmain.TButton_Animated(true);
                        //             height: calc(100% - 0.5rem);
                        //             position: relative;
                        //             padding: 0.5rem;
                        //             width: 20% !important;
                        //             > span {
                        //                 transform: translateY(-4px)  translateX(0px) skewX(20deg);
                        //                 font-size: 1.5rem;
                        //             }
                        //         }
                        //         > div {
                        //             width: 60%;
                        //             padding-inline: 1rem;
                        //             > input {
                        //                 font-size: 1.5rem;
        
                        //                 transform: translateX(0px) skewX(20deg);
                        //             }
                        //         }
                        //     }
                        // }
                        > .container {
                            display: flex;
                            flex-direction: row;
                            min-width: 35rem;
                            max-width: 45rem;
                            width: 100%;
                            height: max-content;
                            gap: 0.5rem;
                            > .buttonContainer_cart {
                                height: 100%;
                                > button {
                                    @include Tmain.TButton_secondary(1);
                                    @include Tmain.preventSelect();
                                    aspect-ratio: 1/1;
                                    height: 100%;
                                    width: auto;
                                }
                            }
                            > .buttonContainer_buy {
                                width: 100%;
                                > button {
                                    @include Tmain.TButton_primary(1);
                                    @include Tmain.preventSelect();
                                    width: 100%;
                                }
                            }
                        }
                        > .buttonDiv {
                            position: relative;
                            bottom: 0;
                            width: max-content;
                            height: max-content;
                            display: flex;
                            justify-content: space-evenly;
                            gap: 0.5rem;
                            align-items: center;
                            opacity: 1;
                            transition: opacity 0.2s;
                            > button {
                                @include Tmain.TButton_secondary(1);
                                width: auto;
                                height: 100%;
                                aspect-ratio: 1/1;
                                margin: 0;
                                > span {
                                    font-size: 1.5rem;
                                }
                            }
                        }
                    }
                    
                    @container (max-inline-size: 770px){
                        .buyBody {
                            justify-content: space-between !important;
                            width: calc(100% + 2rem) !important;
                            margin-left: -1.5rem;
                            overflow: visible;
                            height: 3rem;
                            gap: 0;
                            > .buttonDiv {
                                position: relative;
                                order: 0;
                                flex-direction: column;
                                height: 15rem;
                                max-width: max-content;
                                margin-bottom: 30rem;
                                > button {
                                    width: 100%;
                                    height: auto;
                                    aspect-ratio: 1/1;
                                }
                                width: 100%;
                            }
                            > .container {
                                order: 1;
                            }
                        }
                    }
                }
            }
        }
    }
}
