// @import '../../general/main.scss';
// @import '../../general/buttons.scss';
@use '../../general/NavigationBar/NavigationBar';
@use '../_publicMain';
@use 'cartListDesktop';
@use 'cartListMobile';
@use 'cartRightMobile';
@use 'cartRightDesktop';
@use '../../general/mediaQueries';
@use '../../general/Footer/FooterMobile.scss';
@use '../../general/Footer/FooterDesktop.scss';
@use '../converterStart/projectDetails';


@include mediaQueries.forMediaBreakpoint(mobile-small){
    body {
        scroll-snap-type: none !important;
        >.Pages_MAIN {
            overflow: visible;
            margin-inline: 0rem;
            &::-webkit-scrollbar {
                display: none;
            }
            scrollbar-width: none;
            flex-direction: column;   
            min-height: 100vh;;
            align-items: center; 
            gap: 0;
            width: 100%;
            height: max-content;
            min-height: 100vh;
            display: flex;
            overflow: hidden;
            gap: 0;
            margin-top: 0vh;
            > div {
                box-sizing: border-box;
                &.cartListMain {
                    order: 1;
                    margin-top: 0;
                    width: 96%;
                }
                &.cartRightMain {
                    order: 2;
                    width: 96%;
                }
            }
            @include cartListMobile.drawCardListMobile();
            @include cartRightMobile.drawCartRightMobile();
        }
    }
}
@include mediaQueries.forMediaBreakpoint(desktop mobile){
    @include FooterDesktop.FooterDesktop();
    body {
        top: 0 !important;
        height: 100vh !important;
        overflow-y: scroll !important;
        scroll-snap-type: none !important;
        > .Pages_MAIN {
            // scroll-snap-align: start;
            // @include border();
            // background-color: red;
            width: 100%;
            height: max-content;
            min-height: 100vh;
            display: flex;
            overflow: hidden;
            gap: 0;
            margin-top: 0vh;
            > div {
                box-sizing: border-box;
                &.cartListMain {
                    order: 1;
                }
                &.cartRightMain {
                    order: 2;
                }
            }
            @include mediaQueries.forMediaBreakpoint(mobile){
                overflow: visible;
                margin-inline: 0rem;
                &::-webkit-scrollbar {
                    display: none;
                }
                scrollbar-width: none;
                flex-direction: column;   
                align-items: center; 
                gap: 0;
                > div {
                    &.cartListMain {
                        margin-top: 0;
                        width: 96%;
                    }
                    &.cartRightMain {
                        width: 96%;
        
                    }
                }
            }
            @include mediaQueries.forMediaBreakpoint(desktop){
                overflow: visible;
                box-sizing: border-box;
                margin-inline: 0rem;
                width: 100%;
                margin-left: auto;
                margin-right: auto;
                max-width: min(70rem, 100%);
                // max-width: ;
                width: max(max-content, 890rem);
                min-width: 60rem;
                > div {
                    &.cartListMain {
                        margin-top: 0;
                        width: 75%;
                    }
                    &.cartRightMain {
                        margin-top: 0.5rem;
                        width: 25%;
                    }
                }
            }
            @include cartListDesktop.drawCartListDesktop();
            @include cartRightDesktop.drawCartRightDesktop();
        }
    }
    .FooterBody {
        top: 0;
        position: relative !important;
    }
}
