// @import '../../general/main.scss';
// @import '../../general/buttons.scss';
@use '../../general/NavigationBar/NavigationBar';
@use '../_publicMain';
@use 'cartList';
@use 'cartRight';
@use '../../general/mediaQueries';
@use '../../general/Footer/FooterMobile.scss';
@use '../../general/Footer/FooterDesktop.scss';
@use '../converterStart/projectDetails';

@include mediaQueries.forMediaBreakpoint(desktop mobile){
        @include FooterDesktop.FooterDesktop();
        body {
            top: 0 !important;
            height: 100vh !important;
            overflow-y: scroll !important;
            scroll-snap-type: none !important;
        }
        .FooterBody {
            top: 0;
            position: relative !important;
        }
}
@include mediaQueries.forMediaBreakpoint(mobile-small){
        @include FooterMobile.FooterMobile();
        body {
            scroll-snap-type: none !important;
        }
        .FooterBody {
            // position: sticky;
            top: 0;
            // bottom: 0;
        }
}

body {
    
    >.Background3D {
        // z-index: 1000;
        position: fixed;
        z-index: -1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%; 
        pointer-events: none;
        background-color: transparent;
        
        > canvas { 
            // po
            position: relative;
            z-index: -1;
            // opacity: 0.5;
            // visibility: hidden;
            background-color: transparent;
        }
    }
}

.Pages_MAIN {
    // scroll-snap-align: start;
    // @include border();
    // background-color: red;
    width: 100%;
    height: max-content;
    min-height: 100vh;
    display: flex;
    overflow: hidden;
    gap: 0;
    margin-top: 0vh;
    > div {
        box-sizing: border-box;
        &.cartListMain {
            order: 1;
        }
        &.cartRightMain {
            order: 2;
        }
    }
    @include mediaQueries.forMediaBreakpoint(mobile-small){
        overflow: visible;
        margin-inline: 0rem;
        &::-webkit-scrollbar {
            display: none;
        }
        scrollbar-width: none;
        flex-direction: column;   
        min-height: 100vh;;
        align-items: center; 
        gap: 0;
        > div {
            &.cartListMain {
                margin-top: 0;
                width: 96%;
            }
            &.cartRightMain {
                width: 96%;

            }
        }
        > .footer {
            order: 3;
            position: relative;
            width: 100%;
            height: 20vh !important;
            margin-top: 2vh;
            padding: 5vh;
            background-color: lightgrey;
            > div {
                > span {

                }
            }
        }
    }
    // @include mediaQueries.forMediaBreakpoint(mobile-small){
    //     overflow: auto;
    //     margin-inline: 0rem;
    //     &::-webkit-scrollbar {
    //         display: none;
    //     }
    //     scrollbar-width: none;
    //     flex-direction: column;    
    //     > div {
    //         &.cartListMain {
    //             margin-top: 0.5rem;
    //             width: 100%;
    //         }
    //         &.cartRightMain {
    //             width: 100%;
    //         }
    //     }
    //     > .footer {
    //         order: 3;
    //         position: relative;
    //         width: 100%;
    //         height: 20vh !important;
    //         margin-top: 2vh;
    //         padding: 5vh;
    //         background-color: lightgrey;
    //         > div {
    //             > span {

    //             }
    //         }
    //     }
    // }
    @include mediaQueries.forMediaBreakpoint(mobile){
        overflow: visible;
        margin-inline: 0rem;
        &::-webkit-scrollbar {
            display: none;
        }
        scrollbar-width: none;
        flex-direction: column;   
        align-items: center; 
        gap: 0;
        > div {
            &.cartListMain {
                margin-top: 0;
                width: 96%;
            }
            &.cartRightMain {
                width: 96%;

            }
        }
    }
    @include mediaQueries.forMediaBreakpoint(desktop){
        overflow: visible;
        box-sizing: border-box;
        margin-inline: 0rem;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        max-width: min(70rem, 100%);
        // max-width: ;
        width: max(max-content, 890rem);
        min-width: 60rem;
        > div {
            &.cartListMain {
                margin-top: 0;
                width: 75%;
            }
            &.cartRightMain {
                margin-top: 0.5rem;
                width: 25%;
            }
        }
    }
    @include cartList.cartListMain();
    @include cartRight.cartRightMain();
}