
@mixin conv_EditorFrame_mobile(){
    > .EditorFrame {
        position: relative;
        border: none;
        flex-grow: 1;
        order: 1;
        width: 80%;
        height: auto;
        aspect-ratio: 1/1.513;
        top: 0;
        left: 10%;
        margin: 2%;
        margin: 0;
        box-sizing: border-box;
        overflow: visible;
        display: flex;
        flex-direction: column;
        justify-content: center;
        > .square-border-div{       
            background-color: transparent !important;       
            > .Lighter3D {
                position: absolute;
                top: -22%;
                left: -24%;
                width: 148%;
                height: 148%;
                overflow: visible;
                > canvas {
                    
                    background-color: transparent !important;
                }
            } 
            top: 0%;  
            width: 90%;
            position: relative;
            box-sizing: border-box;
            display: block;
            margin-left: auto;
            margin-right: auto;
            background-color: transparent;
            overflow: visible; 
            &[state*='active']{
                >#square-border {
                    box-shadow: inset 0px 0px 0px 1px gray;
                }   
            }
            &[state*='passive']{
                >#square-border {
                    box-shadow: none;
                }   
            }
            > canvas {
                position: absolute;
                font-kerning : normal;
                text-rendering: optimizeLegibility;
                letter-spacing: normal;
                overflow: hidden;
                image-rendering: crisp-edges;
                width: 100%;
                height: 100%;
                &[state*='passive']{
                    opacity: 0.4;
                }
                &[state*='active']{
                    opacity: 1.5;
                }
            }      
        }
    }    
}