@use '../../../themes/theme1/main' as Tmain;
@use '../../../themes/theme1/vars';
@use '../../../../../../Splint/scss/tools/tools' as S_tools;
@use 'sass:color';

@-webkit-keyframes AnimationEPtype {
    0%{background-position:0% 0%}
    70%{background-position:170% 0%}
    100%{background-position:220% 0%}
}
@-webkit-keyframes AnimationEPtype2 {
    0%{background-position:220% 0%}
    30%{background-position:170% 0%}
    100%{background-position:0% 0%}
}
@-moz-keyframes AnimationEPtype {
    0%{background-position:0% 0%}
    70%{background-position:170% 0%}
    100%{background-position:220% 0%}
}
@-moz-keyframes AnimationEPtype2 {
    0%{background-position:220% 0%}
    30%{background-position:170% 0%}
    100%{background-position:0% 0%}
}
@keyframes AnimationEPtype { 
    0%{background-position:0% 0%}
    70%{background-position:170% 0%}
    100%{background-position:220% 0%}
}
@keyframes AnimationEPtype2 { 
    0%{background-position:220% 0%}
    30%{background-position:170% 0%}
    100%{background-position:0% 0%}
}

@mixin conv_LeftBar(){
    > .leftBar {
        transform: translateX(0px);
        &:not([loaded*='true']){
            visibility: hidden;
            transform: translateX(-30rem);
        }
        transition: transform 0.4s ease-out;
        visibility: visible;
        
        position: relative;
        user-select: none;
        order: 1;
        width: 7%;
        padding-top: 2%;
        padding-right: 2%;
        margin-top: calc(7vh + 0.5em);
        height: calc(100% - 7vh - 0.5em);
        margin-right: 2rem;
        z-index: 2;
        display: flex;
        justify-content: center;
        > .content {
            @include Tmain.TContainer_basic();
            padding: 0;
            min-width: min-content;
            max-width: fit-content;
            max-height: max-content;
            position: relative;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            gap: 0.5rem;
            height: max-content;
              
            // @include Tmain.clipEdgesAll(5px);
            > button {
                position: relative;
                text-align: center;
                display: block;
                padding: 1rem;
                &:hover {
                    @include S_tools.SPLINT-border-inset(vars.$color-primary, 3px, false, false, false, true);
                    background-color: color.adjust(vars.$color-T_container-Medium, $alpha: -0.5);
                    > span {
                        &:not(.description) {
                            text-shadow: 2px 2px 0px color.adjust(vars.$color-primary);
                            transition-duration: 10ms;
                        }
                    }
                }
                    > span {
                        text-shadow: 0px 0px 0px transparent;
                        transition: text-shadow cubic-bezier(0, 0.52, 1, 1) 2s;
                        font-size: 3em;
                        margin: -0.05em;  
                        &.description {
                            white-space: nowrap;
                            margin: -0.05em;  
                            margin-bottom: -0.1em;  
                            margin-top: 0.5em;
                            font-size: 1em;
                            text-decoration: none;
                            animation-name: none;
                        }
                    }
                &[state*='active']{
                    @include S_tools.SPLINT-border-inset(vars.$color-primary, 3px, false, false, false, true);
                    background-color: color.adjust(vars.$color-T_container-Medium, $alpha: -0.5);
                    > span {
                        &:not(.description) {
                            text-shadow: 2px 2px 0px color.adjust(vars.$color-primary);
                            transition-duration: 10ms;
                        }
                    }
                }
                // &[state*='passive']{
                //     > .dropdown {
                //     }
                // }
                .dropdown {
                    margin-left: 5%;
                    height: 100%;
                    min-width: max-content;
                    width: auto;
                    z-index: 0;
                    > div {
                        height: 100%;
                        .n_RadioButton {
                            border: none;
                            height: 100%;
                            position: relative;
                            border-radius: 0;
                            overflow: hidden;
                            > .inner {
                                height: 100%;
                                display: flex;
                                flex-direction: column;
                                justify-content: stretch;
                                align-items: stretch;
                                gap: 0.5rem;
                                > hr {
                                    display: none;
                                }
                                > div {
                                    @include Tmain.clipEdgesAll(5px);
                                    &[state*='passive']{
                                        > .labelDiv {
                                            background: #4f4f4f!important;
                                        }
                                    }
                                    font-size: 1.2rem;
                                    @include Tmain.T_container();
                                    box-sizing: border-box;
                                    height: calc(100%);
                                    margin-bottom: 0;
                                    background-color: vars.$color-T_container-Dark-M;
                                    padding: 0;
                                    > .inputBody {

                                        width: 0;
                                        padding: 0;
                                        margin: 0;
                                        position: absolute;
                                        > span {
                                            display: none;
                                        }
                                    }
                                    > .labelDiv {
                                        width: calc(100% - 2px);
                                        height: calc(100% - 2px);
                                        margin: 1px;
                                        @include Tmain.clipEdgesAll(5px);
                                        
                                        &[value *= 'GOLD']{     
                                            background:   //linear-gradient(-50deg, $gold, 45%, rgb(255, 255, 255) ,55%, $gold ),
                                                        radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
                                                        radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
                                            color: vars.$color-primary-text;
                                            
                                            > div {
                                                $gold : color.adjust(vars.$color-gold, $alpha: -0.7);  
                                                background:   linear-gradient(-50deg, $gold, 45%, rgb(255, 255, 255, 0.9) ,55%, $gold );
                                                background-size: 200% 200%;
                                                animation-name: AnimationEPtype2; 
                                                animation-duration: 0.3s;
                                                animation-timing-function: cubic-bezier(0.87, 0.57, 0.16, 0.77);
                                                animation-fill-mode: forwards;
                                            }
                                            &:hover {
                                                > div {
                                                    animation-name: AnimationEPtype; 
                                                    animation-duration: 0.3s;
                                                    animation-timing-function: cubic-bezier(0.16, 0.77, 0.87, 0.57);
                                                    animation-fill-mode: forwards;

                                                }
                                            }
                                        }         
                                        &[value *= 'CHROME']{     
                                            background: linear-gradient(
                                              -50deg,
                                              #999 5%,
                                              #fff 10%,
                                              #ccc 30%,
                                              #ddd 50%,
                                              #ccc 70%,
                                              #fff 80%,
                                              #999 95%
                                            );
                                            > div {
                                                $chrome : color.adjust(vars.$color-chrome, $alpha: -0.9);  
                                                background:   linear-gradient(-50deg, $chrome, 45%, rgb(255, 255, 255, 0.9) ,55%, $chrome );
                                                                      
                                                color: vars.$color-primary-text;
    
                                                background-size: 200% 200%;
                                                animation-name: AnimationEPtype2; 
                                                animation-duration: 0.3s;
                                                animation-timing-function: cubic-bezier(0.87, 0.57, 0.16, 0.77);
                                                animation-fill-mode: forwards;

                                            }
                                            &:hover {
                                                > div {
                                                    animation-name: AnimationEPtype; 
                                                    animation-duration: 0.3s;
                                                    animation-timing-function: cubic-bezier(0.16, 0.77, 0.87, 0.57);
                                                    animation-fill-mode: forwards;
                                                }
                                            }
                                        }      
                                        > .name {
                                            height: 100%;
                                            padding-inline:1rem;
                                            mix-blend-mode: hard-light;
                                            display: flex;
                                            justify-content: center;
                                            align-items: center;
                                            > span {
                                                font-size: 1.2em;
                                                opacity: 1;

                                            }
                                        }
                                        // > .displayDiv {

                                        // }
                                    }
                                    
                                }
                
                            }
                        }
                    }
                }
            }
            > input {
                display: none;
            }
            
        }
        > .content1 {
            display: block;
            width: 100%;
            max-width: 100%;
            > .headline {
                display: block;
                width: 100%;
                // > span {

                // }
            }
            > .toggleButton {
                display: block;
                width: 100%;
                display: flex;
                flex-direction: column;
                background-color: transparent;
                box-shadow: none;
                border: none;
                border-radius: 0;
                > button {
                    background-color: vars.$color-primary;
                    // > span {
                        
                    // }
                }
            }
        }
    }
}