@use '../../../themes/theme1/main' as Tmain;
@use '../../../themes/theme1/vars';
@use '../../../themes/theme1/buttons' as Tbuttons;
@use '../toolBar/converterToolBar';
@use '../../../../../../Splint/scss/tools/tools' as S_tools;
@use 'sass:color';

@mixin conv_RightBar(){
    > .Conv_RightBar {
        order: 3;
        flex-grow: 0;
        flex-shrink: 5;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 0.5em;
        justify-content: stretch;
        align-content: stretch;
        margin-top: 7vh;
        height: calc(100% - 7vh);
        width: 30%;
        
        box-sizing: content-box;
        > * {
            z-index: 1000;
        }
        @include converterToolBar.ToolBar_Main();
        > .ToolBar_Main {
            box-sizing: content-box;
            user-select: none;
            overflow-x:visible;
            overflow-y:hidden;
            margin: 0em;
            padding: 0;
            flex-shrink: 1;
            flex-grow: 2;
            display: flex;
            height: max-content;
            position: relative;
            width: 100%;
        }

        > .ConverterMainButtons {
            user-select: none;
            flex-grow: 0;
            flex-shrink: 1;
            position: relative;
            height: fit-content;
            display: flex;
            justify-content: stretch;
            > .content {
                position: relative;
                display: flex;
                margin-bottom: 1rem;
                gap: 1rem;
                width: 100%;
                > div {
                    height: auto;
                    width: max-content;
                    user-select: auto;
                    pointer-events: auto;
                    padding: 0;
                    background-color: transparent;
                    > button {
                        position: relative;
                        cursor: pointer;
                        @include Tmain.T_container();
                        border: none;
                        margin: 0;
                        @include Tmain.preventSelect();
                        pointer-events: auto;
                        display: flex;
                        flex-direction: row;
                        > span {
                            pointer-events: auto;
                            font-size: 2rem;
                            text-shadow: 0px 0px 0px transparent;
                            transition: text-shadow cubic-bezier(0, 0.52, 1, 1) 2s;
                            color: vars.$color-primary-text !important;
                        }
                    
                    }
                    &.buy {
                        @include Tmain.TButton_important_A();
                        > button {
                            > span:first-of-type{
                                margin-right: 0.2em;
                            }
                        }
                    }
                    &.toCart {
                        aspect-ratio: 1/1;
                        
                        @include Tmain.TButton_important_A();
                        flex: 0;
                        
                        > button {
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                }
            }
            &.ADMINPLUS {
                > .content {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    margin: 0;
                    padding: 0;
                    box-sizing: content-box;
                    margin-bottom: 0.5rem;
                    > .n_inputDiv {
                        position: relative;
                        width: 100%;
                    }
                    > button {
                        @include Tmain.preventSelect();
                        width: 30%;
                        > span {
                            user-select: auto;
                            pointer-events: auto;
                            font-size: 1rem;
                        }
                    }
                    > .n_RadioButton {
                        width: 30%;
                    }

                }
            }
        }
    }
}