
@use '../../../themes/theme1/vars';
@use '../../../themes/theme1/main' as Tmain;
@use '../../../general/main' as Gmain;
@use '../../../general/buttons' as Gbuttons;
@use '../../../themes/theme1/buttons' as Tbuttons;
@use '../../../PUBLIC/profile/subPages/Adresses';
@use '../../../general/mediaQueries';
@use '../../../../../../Splint/scss/tools/tools' as S_tools;

@mixin checkout_Address(){
    > .AddressMain {
        // @include AddressMenuList();
        @include mediaQueries.forMediaBreakpoint(mobile-small){
            font-size: 2em;
            &::-webkit-scrollbar {
                display: none;
            }
        }
        > div {
            @include Tmain.T_container();
            
            &:not(.buttonsDiv){
                // &:not(.paypalContainer){
                    @include Tmain.clipEdgesAll(5px);
                    @include S_tools.SPLINT-border-inset(vars.$color-T_container-Medium, 1px, true, true, true, true);
                // }
            }
            margin-bottom: 0.5em;
            @include mediaQueries.forMediaBreakpoint(mobile-small){
                margin-bottom: 1em;
            }
        }
        > .S-AddressInput {
            padding: 1em;
        }
        // > .addressMenuListMain {
        // }   
        // > .addressMenuNewMain {
        //     @include Tmain.T_container();        
        //     > [id*='head'] {
        //         display: none;
        //     }
        //     > div {
        //         > .AddressInput {
        //             display: grid;
        //             grid-template-columns: repeat(10, 1fr);
        //             row-gap: 0.5em;
        //             grid-template-areas: 
        //                 "fN fN fN fN fN fN lN lN lN lN"
        //                 "plz plz plz ct ct ct ct cy cy cy"
        //                 "st st st st st hn hn hn hn hn"
        //                 "ema ema ema ema ema ph ph ph ph ph";
        //             > div {
        //                 background-color: transparent;
        //                 box-sizing: border-box;
        //                 &.S_InputDiv {
        //                     padding-bottom: -0.5em;
        //                     > label {

        //                     }
        //                 }
        //                 &[id*='title']{
        //                     display: none;
        //                 }
        //                 &[id*='salutation']{
        //                     display: none;
        //                     grid-area: none;
        //                 }
        //                 &[id*='firstName']{
        //                     grid-area: fN;
        //                 }
        //                 &[id*='lastName']{
        //                     grid-area: lN;
        //                 }
        //                 &[id*='postcode']{
        //                     grid-area: plz;
        //                 }
        //                 &[id*='city']{
        //                     grid-area: ct;
        //                 }
        //                 &[id*='country']{
        //                     grid-area: cy;
        //                 }
        //                 &[id*='street']{
        //                     grid-area: st;
        //                 }
        //                 &[id*='housenumber']{
        //                     grid-area: hn;
        //                 }
        //                 &[id*='email']{
        //                     grid-area: ema;
        //                 }
        //                 &[id*='phone']{
        //                     grid-area: ph;
        //                 }
        //             }
        //         }
        //     }
        //     > button {
        //         display: none;
        //     }
        // }
        // > .buttonDiv {
        //     > button {

        //     }
        // }
    }

}