@use '../../../general/main' as Gmain;
@use '../../../themes/theme1/main' as Tmain;
@use '../../../themes/theme1/vars';
@use '../../../general/mediaQueries';
@use '../../../general/buttons.scss' as Gbuttons;
@use '../../../../../../Splint/scss/tools/tools' as S_tools;

@mixin checkout_Payment(){
    > .PaymentMain {
        @include mediaQueries.forMediaBreakpoint(mobile-small){
            font-size: 2em;
        }
        width: 100%;
        // left: 1%;
        > div {
            @include mediaQueries.forMediaBreakpoint(mobile-small){
                margin-bottom: 1em;
            }
            margin-bottom: 0.5em;
            @include Tmain.T_container();
            border: none;
            &:not(.buttonsDiv){
                @include Tmain.clipEdgesAll(5px);
                @include S_tools.SPLINT-border-inset(vars.$color-T_container-Medium, 1px, true, true, true, true);

            }
            &.buttonsDiv{
                >button {
                    @include mediaQueries.forMediaBreakpoint(mobile-small){
                        width: 100%;
                    }
                }
            }
        }
        > .n_RadioButton:not(.InvoiceMethodMain) {
            > div {
                
                display: flex;
                flex-direction: column;
                &.radio_headline {
                    height: 2em;
                    box-sizing: border-box;
                    text-align: center;

                    > span {
                        font-size: 1.1em;
                        margin-top: auto;
                        margin-bottom: auto;
                        // vertical-align: bottom;

                    }

                }
                &.inner {
                    > hr {

                    }
                    > div {
                        > div {
                            &.inputBody{
                                > input {

                                }
                                > span {

                                }
                            }
                            &:not(.inputBody){

                            }
                            &.labelDiv {
                                > .name {
                                    padding-left: 0.5rem;
                                    > span {
    
                                    }
                                }
                                > .displayDiv {
                                    > div {
                                        // display: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        > .InvoiceMethodMain {
            > div {
                display: flex;
                flex-direction: column;
                &.radio_headline {
                    height: 2em;
                    box-sizing: border-box;
                    text-align: center;

                    > span {
                        font-size: 1.1em;
                        margin-top: auto;
                        margin-bottom: auto;
                        // vertical-align: bottom;

                    }
                }
                &.inner {
                    > hr {

                    }
                    > div {
                        &:nth-child(4){
                            > .labelDiv {
                                > .name {
                                    > span {
    
                                    }
                                }
                                >.displayDiv{
                                    // background-color: red !important;

                                    > .S-AddressInput {
                                        padding: 0.5em;
                                    }
                                }
                            }
                        }
                        > .inputBody {
                            > input {

                            }
                            > span {

                            }
                        }
                        > .labelDiv {
                            > .name {
                                padding-left: 0.5rem;
                                > span {

                                }
                            }
                            > .displayDiv {
                                > div {
                                    // display: none;
                                }
                            }
                        }
                    }
                }
            }                    
        }
    }
}