@use '../../../general/main' as Gmain;
@use '../../../themes/theme1/main' as Tmain;
@use '../../../themes/theme1/vars';
@use '../../../general/buttons.scss' as Gbuttons;
@use '../../../../../../Splint/scss/tools/tools' as S_tools;
@use '../../../general/mediaQueries';

@mixin checkout_Sending(){

    >.SendingMain {
        @include mediaQueries.forMediaBreakpoint(mobile-small){
            font-size: 2em;
        }
        > div {
            margin-bottom: 0.5em;
            @include mediaQueries.forMediaBreakpoint(mobile-small){
                margin-bottom: 1em;
            }
            &:not(.buttonsDiv){
                @include Tmain.clipEdgesAll(5px);
                @include S_tools.SPLINT-border-inset(vars.$color-T_container-Medium, 1px, true, true, true, true);

            }
        }
        > .n_RadioButton {
            @include Tmain.T_container();
            border: none;
            > .inner {
                > hr {
                    display: none;
                }
                > div {
                    > .inputBody {
                        > input {

                        }
                        > span {

                        }
                    }
                    > .labelDiv {
                        padding-left: 0.5rem;
                        > .name {
                            > span {

                            }
                        }
                    }
                    > [id*='PriceDiv']{
                        margin-left: auto;
                        margin-right: 0.5rem;
                    }
                }
            }
            // > div {
            //     position: relative;
            //     > hr {
            //         display: none;
            //     }
            //     > div {
            //         position: relative;
            //         width: 100%;
            //         display: flex;
            //         align-items: center;
            //         > input {
            //             margin-inline: 0.5em;
            //             margin-right: 1em;
            //         }
            //         > div {
            //             width: 100%;
            //             &[id*='Price']{
            //                 margin-inline: 1em;
            //                 > span {
            //                     white-space: nowrap;
            //                 }
            //                 height: min-content;
            //                 width: max-content;
            //                 display: inline;
            //             }
            //         }
            //     }
            // }
        }
    }
}