@use '../../../general/main' as Gmain;
@use '../../../themes/theme1/main' as Tmain;
@use '../../../themes/theme1/vars';
@use '../../../general/buttons' as Gbuttons;
@use '../../../themes/theme1/buttons' as Tbuttons;
@use '../../../../../../Splint/scss/tools/tools' as S_tools;
@use 'sass:color';

@use 'converterToolBarHelper';

@mixin ToolBar_Text_Main() {
    > .ToolBar_TextMain {
        > :first-child {
            margin-top: 0.1em !important;
        }
        > :last-child {
            margin-bottom: 0.1em !important;
        }
        @include converterToolBarHelper.ToolBar_ListElement();
        @include ToolBar_ListElement_Text();
    }
}

@mixin ToolBar_ListElement_Text {
    > .ToolBar_ListElement_Text {
        position: relative;
        overflow: visible !important;
        &[state*='passive']{
            > .toolsBody {
                max-height: 0px;
                overflow: hidden;
            }
        }
        > .TextInputDiv {
            position: relative;
            overflow: hidden;
            @include Gmain.box-shadow();
            margin: 0;
            height: fit-content;
            overflow: auto;
            max-height: 20em;
            >* {
                box-sizing: border-box;
            }
            > label, hr {
                display: none;
            }
            > textarea {
                position: relative;
                border: none;
                resize: none;
                overflow: hidden;
                box-sizing: border-box;
                height: auto;
                width: 100%;
                padding-top: 0.5em;
                padding-bottom: 0.5em;
                padding-left: 0.5em;
            }
        }
        > .toolsBody{
            max-height: 500px;
            height: max-content;
            width: 100%;
            transition: max-height 0.3s ease-in-out;
            overflow: hidden;
            > .firstToolContainer {
                
                // display: grid;
                // height: 8rem;
                // grid-template-columns: fit-content 1fr;//repeat(auto-fit, minmax(50%, 8rem));
                // grid-auto-flow: row dense;
                // justify-content: center;
                // align-content: end;

                // width: 100%;
                // overflow: hidden;
                width: 100%;
                display: flex;
                flex-direction: row;
                flex-flow: row;;
                flex-wrap: wrap ;
                justify-content: center;

                align-items: stretch;
                grid-gap: 0rem;
                > .buttonsDiv {
                    flex-grow: 0;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: max-content;
                    margin-top: 0.5em;
                    gap: 0.5em;
                    > .AlignDiv {
                        display: flex;
                        height: max-content;
                        border: 1px solid lightgray;
                        gap: 0.5em;
                        border-radius: vars.$border-radius;
                        margin: 0em;
                        padding: 0.25rem;
                        > button {
                            @include Tmain.TButton_secondary(1.5);
                        }
                    }
                    > button {
                        @include Tmain.TButton_secondary(1.5);
                    }
                }
                > .FontFamilyContainer {
                    flex: 1;
                    min-width: 7rem;
                    width: 100%;
                    >.DropDownInputMain_S {
                        width: 100%;
                        margin-top: 0em;
                        margin-bottom: 0em;
                        > div {
                            &.DropDown_expander {
                                @include Tmain.preventSelect();
                                > div {
                                    cursor: pointer;
                                    > span {
                                        font-size: 1em;
                                        transition: font-size 0.2s ease-in-out;
                                    }
                                    &:hover {
                                        > span {
                                            font-size: 1.25em;
                                        }
                                        background-color: vars.$color-hover;
                                    }
                                }
                            }
                            > div {
                                > input {
                                    @include Tmain.preventSelect();
                                }
                                > label {
                                    @include Tmain.preventSelect();
    
                                }
                            }
                        }
                    }
                }
                
            }
            // .S-SliderMain, .S-RangeSliderMain {
            //     margin-top: 0.4em;
            //     margin-bottom: 0.4em;
            //     height: auto;
            //     max-height: max-content;
            //     overflow: visible;
            //     transition: all 0.3s ease-in;
            //     &[drawDivider='true']{
            //         &::after {
            //             content: "";
            //             display: block;
            //             width: 100%;
            //             height: 0px;
            //             background: transparent;
            //             border-bottom: 1px solid vars.$color-devider;
            //             left: 0;
            //             margin-top: 0.25em;
            //             position: relative;
            //         }
            //         &::before {
            //             content: "";
            //             display: block;
            //             width: 100%;
            //             height: 0px;
            //             background: transparent;
            //             border-top: 1px solid vars.$color-devider;
            //             left: 0;
            //             margin-bottom: 0.2em;
            //             position: relative;
            //         }
            //     }
            //     > .label {
            //         position: relative;
            //         width: 100%;
            //         display: inline-block;
            //         box-sizing: border-box;
            //         text-align: left;
            //         // > span {
            
            //         // }
            //     }
            //     > .contentBody {
            //         height: 1em;
            //         display: flex;
            //         width: 100%;
            //         > .sliderBody {
            //             order: 1;
            //             height: 100%;
            //             width: 100%;
            //             > input[type="range"] {
            //                 width: 100%;
            //                 position: relative;
            //                 font-size: 1em;
            //                 height: 100%;
            //                 display: inline-block;
            //                 outline: none;
            //                 background-color: transparent;
            //                 -webkit-appearance: none;
            //                 transition: box-shadow 0.2s ease;
            //                 &::-webkit-slider-runnable-track, &::-moz-range-track {
            //                     box-sizing: border-box;
            //                     width: 100%;
            //                     height: 0.15em;
            //                     background-color: vars.$color-primary-Dark;
            //                     transition: background-color 0.2s ease;
            //                     box-shadow: 1px 1px 1px 0px vars.$color-slider-thumb;
            //                     border: none;
            //                     border-radius: 10px;
            //                 }
            //                 &::-webkit-slider-thumb, &::-moz-range-thumb {
            //                     -webkit-appearance: none;
            //                     appearance: none;
            //                     border: none;
            //                     vertical-align: baseline;
            //                     height: 1em;
            //                     width: 0.5em;
            //                     margin-top: -0.425em;
            //                     background: vars.$color-slider-thumb;
            //                     box-shadow: 1px 1px 0px 0px vars.$color-slider-thumb-Dark;
            //                     box-sizing: border-box;
            //                     transition: box-shadow 0.2s ease;
            //                 }
            //                 &:focus {
            //                     &::-webkit-slider-thumb, &::-moz-range-thumb {
            //                         @include Gmain.box-shadow(0, vars.$color-primary-Dark, 0.7);
            //                     }
            //                     outline: none;
            //                 }
            //                 &:hover {
            //                     &::-webkit-slider-runnable-track, &::-moz-range-track {
            //                         background-color: vars.$color-primary;
            //                     }
            //                 }
            //             }
            //             > datalist {
            //                 display: none;
            //                 // > option {

            //                 // }
            //             }
            //         }
            //         > .valueOutput {
            //             position: relative;
            //             order: 2;
            //             font-size: 1.1em;
            //             height: max-content;
            //             &[hidden='true']{
            //                 display: none;
            //             }
            //             top: -0.1em;
            //             width: 1.5em;
            //             display: inline-block;
            //             box-sizing: border-box;
            //             text-align: center;
            //             margin-top: auto;
            //             // > span {

            //             // }
            //         }
            //     }
            // }
            > .rotationBody {
                position: relative;
                display: block;
                > .ContainerBody {
                    display: flex;
                    > .container {
                        width: 100%;
                        display: flex;
                        justify-content: stretch;
                        > button {
                            border-radius: 0;
                            font-size: 1em;
                            padding: 0;
                            margin: 0.1em;
                            margin-inline: 0.5em;
                            // @include Tbuttons.T_button_Animated(true);
                            @include Tmain.TButton_primary();
                            width: 100%;
                        }
                    }
                    > .empty {
                        width: 1.5em;
                    }
                }
            }
        }
    }
}