@use '../../../general/main' as Gmain;
@use '../../../themes/theme1/main' as Tmain;
@use '../../../themes/theme1/vars';
@use '../../../general/buttons' as Gbuttons;
@use '../../../../../../Splint/scss/tools/tools' as S_tools;

@mixin ToolBar_ListElement() {
    > .ToolBar_ListElement {
        @include Tmain.TContainer_basic();
        position: relative;
        padding: 1rem;
        width: calc(100% - 1rem);
        margin: 0.5rem;
        box-sizing: border-box;
        >.expanderBody {
            display: none;
        }
        >.toolsBody{
            .S-SliderMain, .S-RangeSliderMain {
                margin-top: 1rem;
                margin-bottom: 0.4rem;
                height: auto;
                max-height: max-content;
                overflow: visible;
                transition: all 0.3s ease-in;
                &[drawDivider='true']{
                    &::after {
                        content: "";
                        display: block;
                        width: 100%;
                        height: 0px;
                        background: transparent;
                        border-bottom: 1px solid vars.$color-devider;
                        left: 0;
                        margin-top: 0.25em;
                        position: relative;
                    }
                    &::before {
                        content: "";
                        display: block;
                        width: 100%;
                        height: 0px;
                        background: transparent;
                        border-top: 1px solid vars.$color-devider;
                        left: 0;
                        margin-bottom: 0.2em;
                        position: relative;
                    }
                }
                > .label {
                    @include Tmain.preventSelect();
                    position: relative;
                    width: 100%;
                    display: inline-block;
                    box-sizing: border-box;
                    text-align: left;
                    > span {
                        font-weight: 500;
                    }
                    // > span {
            
                    // }
                }
                > .contentBody {
                    height: 2.5rem;
                    display: flex;
                    align-items: end;
                    // width: calc(100% - 1rem);
                    overflow: hidden;
                    // padding-inline: 0.5rem;

                    > .sliderBody {
                        order: 1;
                        height: 1rem;
                        width: 100%;
                        > .signBody {
                            position: absolute;
                            background-color: transparent;
                            width: max-content;
                            height: 1.5rem;
                            transform: translateX(-50%);
                            display: none;
                            > div {
                                position: relative;
                                height: 100%;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;
                                > span {
                                    top: 0;
                                    display: block;
                                    height: max-content;
                                    line-height: 100%;
                                    font-size: 0.75rem;
                                    color: vars.$NEW-color-text-secondary;
                                }
                            }
                            &[state*='active'] {
                                display: block;
                            }
                        }
                        > input[type="range"] {
                            -webkit-appearance: none;
                            appearance: none;
                            width: 100%;
                            cursor: pointer;
                            position: relative;
                            font-size: 1em;
                            height: 100%;
                            display: inline-block;
                            outline: none;
                            transition: box-shadow 0.2s ease;
                            overflow: hidden;

                            &::-webkit-slider-runnable-track {
                                box-sizing: border-box;
                                width: 100%;
                                height: 4px;//0.15rem;
                                background-color: vars.$NEW-color-text-secondary;//.$color-primary-Dark;
                                transition: background-color 0.2s ease;
                                box-shadow: none;//1px 1px 1px 0px vars.$color-slider-thumb;
                                border: none;
                                border-radius: 10px;
                            }
                            &::-webkit-slider-thumb {
                                -webkit-appearance: none;
                                appearance: none;
                                border-radius: 50%;
                                background-color: vars.$NEW-color-primary;
                                border: none;
                                vertical-align: baseline;
                                height: 16px;
                                // width: 8px;
                                margin-top: -6px;//-0.425em;
                                // background: vars.$color-slider-thumb;
                                // box-shadow: 1px 1px 0px 0px vars.$color-slider-thumb-Dark;
                                box-sizing: border-box;
                                // transition: box-shadow 0.2s ease;
                            }
                            &:focus {
                                &::-webkit-slider-thumb {
                                    @include Gmain.box-shadow(0, vars.$color-primary-Dark, 0.7);
                                }
                                outline: none;
                            }
                            &:hover::-webkit-slider-runnable-track {
                                background-color: vars.$color-primary;
                            }
                        }
                        > datalist {
                            display: none;
                            // > option {

                            // }
                        }
                    }
                    > .valueOutput {
                        @include Tmain.preventSelect();
                        position: relative;
                        order: 2;
                        font-size: 1.1em;
                        height: max-content;
                        &[hidden='true']{
                            display: none;
                        }
                        top: -0.1em;
                        width: 1.5em;
                        display: inline-block;
                        box-sizing: border-box;
                        text-align: center;
                        margin-top: auto;
                        // > span {

                        // }
                    }
                }
            }
        }
    }
}