@use '../../../general/main' as Gmain;
@use '../../../themes/theme1/main' as Tmain;
@use '../../../themes/theme1/vars';
@use '../../../general/buttons' as Gbuttons;
@use '../../../../../../Splint/scss/tools/tools' as S_tools;
// @import '../../../general/NavigationBar.scss';

@mixin ToolBar_ListElement() {
    > .ToolBar_ListElement {
        @include Tmain.T_container();
        position: relative;
        // width: 100%;
        // margin: 0.25em;
        padding: 0.5em;
        width: calc(100% - 1em);
        margin: 0.5em;
        box-sizing: border-box;
        @include Tmain.clipEdgesAll(5px);
        @include S_tools.SPLINT-border-inset(vars.$color-T_container-Medium, 1px, true, true, true, true);
        // >*{
        //     // box-sizing: border-box;
        // }
        >.expanderBody {
            display: none;
            // position: relative;
            // width: 100%;
            // margin-top: -0.25em;
            // padding: 0;
            // > .expander {

            // }
        }
        >.toolsBody{
            .S-SliderMain {
                margin-top: 0.4em;
                margin-bottom: 0.4em;
                height: auto;
                max-height: max-content;
                // padding-top: 0.4rem !important;
                // padding-bottom: 0.4rem !important;
                overflow: visible;
                transition: all 0.3s ease-in;

                &[drawDivider='true']{
                    &::after {
                        content: "";
                        display: block;
                        width: 100%;
                        height: 0px;
                        background: transparent;
                        border-bottom: 1px solid vars.$color-devider;
                        left: 0;
                        // top: 50%;
                        margin-top: 0.25em;
                        position: relative;
                    }
                    &::before {
                        content: "";
                        display: block;
                        width: 100%;
                        height: 0px;
                        background: transparent;
                        border-top: 1px solid vars.$color-devider;
                        left: 0;
                        // top: 50%;
                        margin-bottom: 0.2em;
                        position: relative;
                    }
                }
                > .label {
                    @include Tmain.preventSelect();
                    position: relative;
                    width: 100%;
                    display: inline-block;
                    box-sizing: border-box;
                    text-align: left;
                    > span {
            
                    }
                }
                > .contentBody {
                    height: 1em;
                    display: flex;
                    width: 100%;
            
                    > .sliderBody {
                        order: 1;
                        height: 100%;
                        width: 100%;
                        > input[type="range"] {
                            width: 100%;
                            position: relative;
                            font-size: 1em;
                            height: 100%;
                            display: inline-block;
                            outline: none;
                            // align-items: center;
                            background-color: transparent;
                            -webkit-appearance: none;
                            transition: box-shadow 0.2s ease;
                            &::-webkit-slider-runnable-track {
                                box-sizing: border-box;
                                // top: 45%;
                                width: 100%;
                                // margin-inline: -5%;
                                height: 0.15em;
                                // margin-top: 0.25em;
                                // margin-top: 45%;
                                // margin-bottom: 45%;
                                background-color: vars.$color-primary-Dark;
                                transition: background-color 0.2s ease;
                                box-shadow: 1px 1px 1px 0px vars.$color-slider-thumb;
                                border: none;
                                border-radius: 10px;
                            }
                            &::-webkit-slider-thumb {
                                // z-index: 2;
                                -webkit-appearance: none;
                                appearance: none;
                                border: none;
                                vertical-align: baseline;
                                height: 1em;
                                width: 0.5em;
                                // border-radius: 10%;
                                margin-top: -0.425em;
                                background: vars.$color-slider-thumb;
                                box-shadow: 1px 1px 0px 0px vars.$color-slider-thumb-Dark;
                                            // 2px 1px 0px 0px vars.$color-slider-thumb-Dark;
                                // @include S_tools.SPLINT-border-inset(vars.$color-slider-thumb-Dark, 1px, false, false, true, true);
                                // margin-top: calc(-100% + 0.5em);
                                box-sizing: border-box;
                                // @include border();
                                transition: box-shadow 0.2s ease;
                            }
                            &:focus {
                                &::-webkit-slider-thumb {
                                    @include Gmain.box-shadow(0, vars.$color-primary-Dark, 0.7);
                                }
                                outline: none;
                            }
                            
                            &:hover::-webkit-slider-runnable-track {
                                background-color: vars.$color-primary;
                            }
                        }
                        > datalist {
                            display: none;
                            > option {
                            }
                        }
                    }
                    > .valueOutput {
                        @include Tmain.preventSelect();
                        position: relative;
                        order: 2;
                        font-size: 1.1em;
                        height: max-content;
                        &[hidden='true']{
                            display: none;
                        }
                        top: -0.1em;
                        width: 1.5em;
                        display: inline-block;
                        box-sizing: border-box;
                        text-align: center;
                        margin-top: auto;
                        > span {
                        }
                    }
                }
            }
        }
    }
}