@use '../../../general/main' as Gmain;
@use '../../../themes/theme1/main' as Tmain;
@use '../../../themes/theme1/vars';
@use '../../../general/buttons' as Gbuttons;
@use '../../../themes/theme1/buttons' as Tbuttons;
@use '../../../../../../Splint/scss/tools/tools' as S_tools;
@use 'sass:color';

@use 'converterToolBarHelper';

@mixin ToolBar_Image_Main() {
    > .ToolBar_ImageMain {
        > :first-child {
            margin-top: 0.1em !important;
        }
        > :last-child {
            margin-bottom: 0.1em !important;
        }
        @include converterToolBarHelper.ToolBar_ListElement();
        @include ToolBar_ListElement_Image();
        overflow-x: hidden;
    }
}

@mixin ToolBar_ListElement_Image {
    > .ToolBar_ListElement_Image {
        position: relative;
        &[state*='passive']{
            > .toolsBody {
                max-height: 0px;
                overflow: hidden;
            }
            > .topDiv {
                width: 100%;
                >.imgDiv {
                    display: block;
                    box-sizing: border-box;
                    position: relative;
                    width: 100%;
                    @include Tmain.TContainer_basic();
                    > img {
                        box-sizing: border-box;
                        position: relative;
                        width: 100%;
                        display: block;
                    }
                    > .spinner {
                        margin: 0;
                        position: absolute;
                        z-index: 1;
                        box-sizing: border-box;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: transparent;
                        &[state*='active']{
                            visibility: visible;
                        }
                        > div {
                            top: 50%; 
                            left: 50%;
                            transform: translate(-50%,-50%);
                            position: relative;
                            aspect-ratio: 1/1;
                            display: block;
                            width: auto;
                            height: auto;
                            max-height: 100%;
                            max-width: 100%;;
                        }
                    }
                }
                > .buttonsDiv {
                    display: none;
                }
            }
        }
        &[state*='active']{
            > .topDiv {
                position: relative;
                display: flex;
                height: 8em !important;
                max-height: 8em !important;
                width: 100%;
                flex-grow: 1;
                align-items: stretch;
                justify-content: space-between;
                overflow: visible;
                gap: 0.5rem;
                >.imgDiv {
                    display: block;
                    box-sizing: border-box;
                    position: relative;
                    width: max-content;
                    padding: 0px;//0.5rem;
                        // padding: 0.25rem;
                    // @include Gmain.box-shadow();
                    > img {
                        @include Tmain.TContainer_basic();
                        box-sizing: border-box;
                        position: relative;
                        height: 100%;
                        display: block;
                        overflow: hidden;
                    }
                    > .spinner {
                        margin: 0;
                        position: absolute;
                        z-index: 1;
                        box-sizing: border-box;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: transparent;
                        &[state*='active']{
                            visibility: visible;
                        }
                        > div {
                            top: 50%; 
                            left: 50%;
                            transform: translate(-50%,-50%);
                            position: relative;
                            aspect-ratio: 1/1;
                            display: block;
                            width: auto;
                            height: auto;
                            max-height: 100%;
                            max-width: 100%;;
                        }
                    }
                }
                > .buttonsDiv {
                    display: grid;
                    height: 8rem;
                    grid-template-columns: repeat(auto-fit, minmax(50%, 7rem));
                    grid-auto-flow: row dense;
                    justify-content: center;
                    align-content: center;

                    width: 100%;
                    overflow: hidden;
                    // transition: all 0.2s ease-in;
                    // gap: 0.5rem;
                    > div {
                        padding-top: 2.5%;
                        padding-bottom: 2.5%;
                        position: relative;
                        min-width: calc(50%);
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        height: 100%;
                        justify-content: space-around;
                        align-items: center;
                        box-sizing: border-box;
                        overflow: hidden;
                        // gap: 0.5rem;

                        // flex-wrap: wrap;
                        &.BTinner1 {

                        }
                        &.BTinner2 {

                        }
                        > button {
                            flex: 1;
                            display: block !important;
                            @include Tmain.TButton_primary(1.5);
                            // padding: 0;
                            position: relative;
                            box-sizing: border-box;
                            max-width: min(calc(50% - 5%), 48px);
                            // height: calc(max-content - 0.5rem);
                            // max-height: calc(100% - 0.5rem);
                            aspect-ratio: 1/1;
                            // background-color: vars.$color-T_container-Medium;
                            // box-shadow: none;
                            // box-shadow: 3px 3px 0px 0px color.adjust(vars.$color-header-Dark, $alpha: -0.1),
                            //             inset -1px 0px 0px 0px vars.$color-primary-Dark,
                            //             inset 0px -1px 0px 0px vars.$color-primary-Dark;
                            // transition: box-shadow 50ms ease, transform 50ms ease;
                            // &:active {
                            //     // box-shadow: 2px 2px 0px 0px color.adjust(vars.$color-header-Dark, $alpha: -0.1),
                            //     //             inset -1px 0px 0px 0px vars.$color-primary-Dark,
                            //     //             inset 0px -1px 0px 0px vars.$color-primary-Dark;
                            //     @include S_tools.SPLINT-border-inset(vars.$color-primary, 2px);
                            //     // transform: translateX(1px) translateY(1px);
                            // }
                            // &:hover {
                            //     > span {
                            //         color: color.adjust(vars.$color-primary-Dark);
                            //     }
                            // }
                            // > span {
                            //     font-size: 2em;
                            //     transition: color 50ms ease;
                            // }
                        }
                    }
                }
            }
        }
        > .toolsBody{
            display: block;
            max-height: 500px;
            height: max-content;
            transition: max-height 0.3s ease-in-out;
            overflow: hidden;
            > .buttonsDiv {
                display: flex;
                justify-content: space-around;
                margin-top: 0.8vh;
                margin-bottom: 0.5vh;
                height: auto;
                max-height: max-content;
                overflow: hidden;
                transition: all 0.2s ease-in;
            }
            > .rotationBody {
                position: relative;
                display: block;
                > .ContainerBody {
                    display: flex;
                    > .container {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        gap: 0.5rem;
                        > button {
                            border-radius: 0;
                            font-size: 1em;
                            padding: 0;
                            margin: 0.1em;
                            margin-inline: 0rem;
                            @include Tmain.TButton_primary();
                            width: 30%;
                        }
                    }
                    > .empty {
                        // width: 1.5em;
                        display: none;
                    }
                }
            }
        }
    }
}
