@use '../../general/main' as Gmain;
@use '../../general/buttons' as Gbuttons;
@use '../../../../../Splint/scss/tools/tools' as S_tools;
@use '../ADMIN';

body {
    // > .head {

    // }
    > .main {
        > .containerNew {
            > .headline {
                margin-top: 1em;
                padding-left: 0.5em;
                padding-bottom: 0.25em;
                width: 100%;
                @include S_tools.SPLINT-border-inset(gray, 1px, false, false, true, false);
                > span {
                    font-size: 1.5em;

                }
            }
            > .inputContainer {
                display: inline-flex;
                > .n_inputDiv {
                    margin-top: 0;
                }
            }
            > button {
                > span {

                }
            }
        }
        > .container {
            > .container_new {
                > .headline {
                    margin-top: 1em;
                    padding-left: 0.5em;
                    padding-bottom: 0.25em;
                    width: 100%;
                    @include S_tools.SPLINT-border-inset(gray, 1px, false, false, true, false);
                    > span {
                        font-size: 1.5em;
                    }
                }
                > .inputContainer {
                    display: inline-flex;
                    > .n_inputDiv {
                        margin-top: 0;
                    }
                }
                > button {
                    > span {
    
                    }
                }

            }
            > .labelLoginList {
                margin-top: 1.5em;
                padding-left: 0.5em;
                padding-bottom: 0.25em;
                margin-bottom: 0.5em;
                width: 100%;
                @include S_tools.SPLINT-border-inset(gray, 1px, false, false, true, false);
                > span {
                    font-size: 1.5em;

                }
            }
            > .Table2D {
                margin-left: 0.5em;
                > table {
                    > tr {
                        > th {
                            > div {
                                > span {

                                }
                            }
                        }
                        > td {
                            > div {
                                > span {

                                }
                                > button {
                                    > span {

                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}