@use '../general/main' as Gmain;
@use '../themes/theme1/vars';
// @use '../themes/theme1/main' as Tmain;

.material-symbols-outlined {
    color: vars.$color-primary-text;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 1,
    'opsz' 48;
    @include Gmain.drop-shadow(0px, 0px, 2px, #97979769);
  }

  .rotate90 {
    transform: rotate(90deg);
  }  