@use '../../themes/theme1/vars';

@mixin NavBar_desktop(){
    grid-template-areas: "Logo emptySpace Design shoppingCart profileLogin Sparks"; 
    grid-template-columns: [Logo] max-content [emptySpace] auto [Design] max-content [shoppingCart] max-content [profileLogin] max-content [Sparks] max-content;
    grid-template-rows: 100%;
    gap: 1em;
    justify-items: center;
    div {
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;
        // justify-content: ;
        > button {
            position: relative;
            // top: 0.4em;
        }
        &.Logo {
            position: relative;
            grid-area: Logo;
            left: 5%;
            top: 10%;
            height: 80%;
            width: max-content;
            img {
                position: relative;
                height: 100%;
                cursor: pointer;
            }
        }
        &.Cart {
            position: relative;
            grid-area: shoppingCart;
            height: 100%;
            width: max-content;    
            > .cartPoint {
                cursor: pointer;
                position: absolute;
                z-index: 1;
                left: 50%;
                top: 60%;
                background-color: vars.$color-primary;
                border-radius: 50%;
                width: 1em;
                height: 1em;
                aspect-ratio: 1/1;
                display: flex;
                justify-content: center;
            }
        }
        &.Design {
            position: relative;
            grid-area: Design;
            height: 100%;
            width: max-content;
            margin-right: 1em;
            -ms-transform: skewX(-20deg); /* IE 9 */
            -webkit-transform: skewX(-20deg); /* Safari */
            transform: skewX(-20deg);
            > button {
                -ms-transform: skewX(-20deg); /* IE 9 */
                -webkit-transform: skewX(-20deg); /* Safari */
                transform: skewX(-20deg);

            }
        }
        &.Profile {
            display: none;
        }
        &.Sparks {
            display: none;
        }
    }
}