
@mixin NavBar_mobile(){
    grid-template-areas: "Logo emptySpace Design shoppingCart profileLogin Sparks"; 
    grid-template-columns: [Logo] max-content [emptySpace] auto [shoppingCart] max-content [profileLogin] max-content [Sparks] max-content [Design] max-content;
    grid-template-rows: 100%;
    gap: 1em;
    justify-items: center;
    div {
        box-sizing: border-box;
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;
        button {
            position: relative;
            top: 0.4em;
            > span {
                font-size: 3rem;
            }
        }
    }
    .Logo {
        box-sizing: border-box;
        position: relative;
        grid-area: Logo;
        left: 4%;
        top: 10%;
        height: 80%;
        width: max-content;
        img {
            position: relative;
            height: 100%;
            cursor: pointer;
        }
    }
    .Cart {
        box-sizing: border-box;
        position: relative;
        grid-area: shoppingCart;
        height: 100%;
        width: max-content;    
        > .cartPoint {
            cursor: pointer;
            position: absolute;
            z-index: 1;
            left: 50%;
            top: 60%;
            background-color: $color-primary;
            border-radius: 50%;
            width: 1em;
            height: 1em;
            aspect-ratio: 1/1;
            display: flex;
            justify-content: center;
        }
    }
    .Profile {
        display: none;
        box-sizing: border-box;
        position: relative;
        grid-area: profileLogin;
        height: 100%;
        width: max-content;
    }
    .Sparks {
        display: none;
        box-sizing: border-box;
        position: relative;
        grid-area: Sparks;
        top: 0.3em;
        height: calc(100% - 0.6em);
        width: max-content;
        pointer-events: all;
        cursor: pointer;
        user-select: none;
        img {
            position: relative;
            height: 60%;

        }
        span {
            position: relative;
            font-size: 1.2em;
        }
    }
    .Design {
        box-sizing: border-box;
        position: relative;
        grid-area: Design;
        height: 100%;
        width: max-content;
        margin-right: 3em;
        > button {
            // top: 0;
            > span {
                font-size: 1rem;
            }
        }
    }
}