
@use '../publicMain';
@use 'desktop/projects';
@use '../../themes/theme1/vars';
@use '../../themes/theme1/main' as Tmain;
@use '../../themes/theme1/buttons' as Tbuttons;
@use '../../general/main' as Gmain;
@use '../../general/mediaQueries';
@use '../../general/NavigationBar/NavigationBar';
@use 'projectDetails';
@use 'desktop/Categories' as desktopCategory;
@use 'mobile/Categories' as mobileCategory;
@use 'mobile/projectList' as mobileProjectList;
@use '../../general/Footer/FooterMobile.scss';
@use '../../general/Footer/FooterDesktop.scss';
$color-CS-divider : rgb(199, 199, 199);

@include mediaQueries.forMediaBreakpoint(desktop mobile){
        @include FooterDesktop.FooterDesktop();
        body {
            top: 0 !important;
            height: 100vh !important;
        }
}
@include mediaQueries.forMediaBreakpoint(mobile-small){
        @include FooterMobile.FooterMobile();
        .FooterBody {
            // position: sticky;
            top: 0;
            // bottom: 0;
        }
}
body {
    // @include converterStart_projectDetails;
        touch-action: pan-x pan-y !important;
    height: 100dvh !important;
    top: 0 !important;
    box-sizing: border-box;
    &::-webkit-scrollbar {
        display: none !important;
    }
    ::-webkit-scrollbar {
        display: none !important;
    }
    >.Background3D {
        // z-index: 1000;
        position: fixed; 
        overflow: hidden;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;  
        pointer-events: all;
        background-color: transparent;
        
        > canvas {  
            background-color: transparent;
        }
    }
    // @include FooterDesktop.FooterDesktop();
}
.Pages_MAIN {
    scroll-snap-align: start;
    position: relative;
    overflow: visible;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    // > .linkImprint {
    //     display: none;
    // }
    > .linkImprint {
        position: absolute;
        bottom: 0;
        // right: 0;
        background-color: transparent;
        border: none;
        outline: none;
        box-shadow: none;
        padding: 0;
        // margin: 0;
        color: gray;
        display: block;
        &:hover {
            color: vars.$color-primary
        }
    } 
    @include mediaQueries.forMediaBreakpoint(desktop mobile){   
        &[loaded*='true']{
            > .ProjectContainer {
                > .buttons {
                    transform: translateX(0rem);
                }
            }
        }
        >.ProjectContainer {
            // @include SPLINT-border-inset();
            box-sizing: content-box;
            max-width: min(100rem, 100%);
            // max-width: ;
            width: max(max-content, 100rem);
            min-width: 60rem;
            position: relative;
            display: grid;
            // grid-template-columns: minmax(4rem, 14rem) minmax(40rem, 1fr) fit-content(14rem);
            grid-auto-columns: minmax(10rem, 16rem) minmax(52rem, 78rem) minmax(0rem, 14rem);
            grid-auto-flow: column;
            grid-template-rows: 100%;
                justify-content: space-evenly;
                justify-items: center;
                align-content: start;
                // align-items: start;
            gap: 0rem;
            overflow: visible;
            margin-top: 0;
            margin-bottom: 1vh;
            position: relative;
            height: 100%;


            // margin-left: 14%;
            // display: flex;
            // flex-direction: column;
            box-sizing: border-box;
            // @include ProjectList(); 
            margin-left: auto;
            margin-right: auto;
            // @include SPLINT-border-inset(red, 1px);
            // @include T_container();
            >.buttons {
                @include Tmain.TContainer_basic();
                transform: translateX(-14rem);
                transition: transform 0.3s ease-out;
                position: sticky;
                box-sizing: content-box;
                width: 100%;//fit-content;
                min-width: 10rem;
                max-width: 30rem;
                // height: calc(100% - 15%);
                margin: 0;
                height: calc(100% - 7vh);
                // height: max-content !important;
                // max-height: 50%;
                padding-top: 7vh;
                // padding: 0;
                // justify-self: right;
                justify-self: center;
                top: 7vh;
                // max-width: 10%;
                // grid-row: 1;
                grid-column: 1;
                // padding-top: calc(1rem + 8vh);
                > .FooterBTContainer {
                    position: absolute;
                    height: max-content;
                    bottom: 0;
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    > button {

                        > span {
                            color: gray;
                        }
                    }
                    > .BTContact {

                    }
                    > .BTImprint {
                        
                    }
                }
                > .buttonsContent {
                    position: relative;
                    width: 100%;
                    height: 100% - 15%;
                    padding-top: 15%;
                    > div {
                        position: relative;
                        box-sizing: border-box;
                        overflow: visible;
                        // @include T_container();
                        // background-color: rgb(230, 230, 230);
                        // box-shadow: none;
                        padding: 0;
                        padding-top: 0.25rem;
                        padding-bottom: 0em;
                        // border-top-right-radius: 0.5em;
                        border-radius: 0em;
                        // border-bottom-right-radius: 0.5em;
                        margin: 0;
                        padding-right: 0.25rem;
                        padding-left: 0rem;
                        margin-bottom: 0.75rem;
                        margin-left: 1rem;
                        margin-right: 1rem;
                        transition: padding-left 0.2s ease;
                        @include Tmain.TContainer_basic();
                        // overflow: hidden;
                        // height: 10px;
                        // transition: height 0.5s ease-in;
                        // &:has(button[state*='active']){
                        //     height: max-content;
                        // }
                        &.private {
                            padding-bottom: 0.25rem;
                            margin-bottom: 0;
                            > button {
                                margin-bottom: 0;
                            }
                        }
                        > button {
                            display: flex;
                            flex-direction: row;
                            // @include Gmain.box-shadow(0, black, 0.6);
                            // @include Tmain.TButton_simple();
                            background-color: vars.$NEW-color-container-background;
                            float: none;
                            border-radius: 0;
                            position: relative;
                            box-sizing: border-box;
                            margin: 0;
                            margin-left: 0.25rem;
                            width: calc(100% - 0.25rem);
                            height: 100%;
                            padding: 0;
                            padding-right: 1em;
                            padding-left: 1em;
                            margin-bottom: 0.25rem;
                            transition: transform 0.1s ease-in-out;
                            color: vars.$color-primary-text;
                            box-shadow: none;
                            &::before{
                                content: '';
                                transition: transform 0.2s ease;;
                                transform: translateX(-40%) translateY(calc(50% + 4px));
                                border-left: 8px solid gray;
                                border-top: 8px solid transparent;
                                border-bottom: 8px solid transparent;
                            }
                            &[state*='active']{
                                &::before {
                                    transform: translate(-40%, calc(50% + 4px)) rotate(90deg);
                                }
                                > span {
                                    color: vars.$color-primary-text;
                                }
                            }
                            &:hover {
                                &::before {
                                    transition: border 0.1s ease-in-out;
                                    border-left: 8px solid vars.$color-primary-Dark;
                                    // transform: translate(-50%, calc(50% + 3px)) rotate(90deg);
                                }
                                > span {
                                    color: vars.$color-primary-text;
                                }
                            }
                            > span {
                                margin: 0.5rem;
                                // -ms-transform: skewX(20deg); /* IE 9 */
                                // -webkit-transform: skewX(20deg); /* Safari */
                                // transform: skewX(20deg);
                                font-size: 1.5em;
                            }
                            &[hide*='false']{
                                &::before {
                                    transform: translate(-40%, calc(50% + 4px)) rotate(90deg);
                                }
                            }
                        }
                        > div {
                            box-sizing: border-box;
                            @include Tmain.TContainer_basic();
                            // @include box-shadow(0, black, 0.6);
                            // background-color: white;
                            overflow: hidden;
                            box-shadow: none;
                            padding: 0.4rem;
                            padding-right: 0.1em;
                            font-size: 1rem;
                            // padding-top: 0;
                            // border-top: 1px solid rgb(63, 63, 63);
                            margin-top: 0rem;
                            padding-left: 0.5rem;
                            // margin-left: 0.4rem;
                            width: 100%;
                            z-index: 4;
                            
                            &[ishidden*='true']{
                                border-top: none;
                            
                            }   
                        }
                        @include desktopCategory.ProjectCategoryMenu-desktop();
                        > div {   
                            > .S-Nesting {
                                .I_expander {
                                    background-color: vars.$NEW-color-container-background !important;
                                }
                            }
                        }
                    }
                }
            }
            >.ProjectListBody {
                box-sizing: content-box;
                // width: fit-content;
                min-width: 52rem;
                width: 100%;
                max-width: 100%;
                margin: 0;
                padding: 0;
                height: 100%;
                // max-width: 90%;
                justify-self: center;
                overflow: visible;
                position: relative;
                grid-column: 2;
                @include projects.ProjectList(); 
            }
            >.headline {
                position: relative;
                box-sizing: border-box;
                max-width: 14rem;
                width: 100%;
                min-width: 0rem;
                margin: 0;
                padding: 0;
                height: 100%;
                // width: 100%;
                justify-self: stretch;
                grid-column: 3;
                // display: none;
                > span {
                    visibility: hidden;
                }
                > .buttonCreateContainer {
                    position: sticky;
                    top: 90%;
                    left: 100%;
                    right: 0;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    > button {
                        @include Tmain.TButton_primary(2);
                        > span {

                        }
                    }
                }
            }
        }
    }
    @include mediaQueries.forMediaBreakpoint(mobile-small){  
        
        overflow:hidden;
        > .MobileMenuButton {
            border-radius: 50%;
            padding: 1rem;
            font-size: 1rem;
            right: 1rem;
            bottom: 2rem;
            position: absolute;
            user-select: none;
            background-color: vars.$color-primary;
            transform: translateY(0rem);
            > span {
                font-size: 2.5rem;

            }
            transition: transform 0.15s ease;
            &[state*='passive']{
                transform: translateY(30rem);
            }
        } 
        &[loaded*='true']{
            > .ProjectContainer {
                > .buttons {
                    transform: translateX(0rem);
                }
            }
        }
        display: flex;
        flex-direction: column;
        >.ProjectContainer {
            position: relative;
            // @include SPLINT-border-inset();
            box-sizing: border-box;
            display: flex;
            bottom:0%;
            margin-top: 0;
            flex-direction: row;
            width: 100%;
            height: 100%;
            > .ProjectListBody {
                > .ProjectListMain {
                    > div {
                        >div {
                            
                        }
                    }

                }
            }

            overflow: visible; 
            // margin-left: 14%;
            // display: flex;
            // flex-direction: column;
            box-sizing: border-box;
            // @include ProjectList(); 
            // margin-left: auto;
            // margin-right: auto;
            // @include SPLINT-border-inset(red, 1px);
            >.buttons { 
                order: 1;
                transform: translateX(-30rem);
                transition: transform 0.3s ease-out;
                position: relative;
                box-sizing: content-box;
                display: flex;
                flex-direction: column;
                width: 0;//calc(100% - 2rem);//fit-content;
                // width: 100%;
                // min-width: 10rem;
                // max-width: 14rem;
                // height: 100%;
                margin: 0.5rem;
                padding: 0;
                // justify-self: right;
                justify-self: center;
                top: 0;
                margin: 0;
                z-index: 2;
                // max-width: 10%;
                // grid-row: 1;
                // grid-column: 1;
                // margin-top: 0.5rem;
                &[state*='active']{
                    > .buttonsContent {
                        transform: translateX(0em);
                        // width: 40em !important;
                    }
                    > .MobileMenuBackground {
                        width: 50vw;
                    }
                }
                > .MobileMenuBackground {
                    position: absolute;
                    background-color: transparent;//vars.$color-background-subWindow;
                    padding: 0;
                    margin: 0;
                    width: 0;
                    // transition: width 0.2s linear;;
                    height: 100vh;
                }
                > .buttonsContent {
                    position: relative;
                    width: 80vw;
                    margin-top: calc(vars.$NavBar-height-mobile-small + 1vh + 0.5rem);
                    transform: translateX(-40rem);
                    overflow: hidden;
                    height: 100%;
                    transition: transform 0.2s linear;;
                    padding-top: 15%;
                    @include Tmain.TContainer_basic(false);
                    > div {
                        position: relative;
                        box-sizing: border-box;
                        overflow: hidden;
                        // height: ;
                        // background-color: rgb(230, 230, 230);
                        // box-shadow: none;
                        padding: 0;
                        padding-top: 0rem;
                        padding-bottom: 0rem;
                        // border-top-right-radius: 0.5em;
                        border-radius: 0em;
                        // border-bottom-right-radius: 0.5em;
                        margin: 0;
                        padding-right: 0em;
                        margin-bottom: 0rem;
                        padding-left: 0em;
                        border-bottom: 1px solid gray;
                        transition: padding-left 0.2s ease;
                        &:focus-within {
                            padding-left: 0.2rem;
                            > button {
                                > span {
                                    font-size: 1.1rem;
                                }
                            }
                        }
                        > button {
                            font-size: 1rem;
                            background-color: transparent;
                            // @include Gmain.box-shadow(0, black, 0.6);
                            // @include Tbuttons.T_button_Animated();
                            border-radius: 0;
                            position: relative;
                            box-sizing: border-box;
                            margin: 0;
                            margin-left: 0.5em;
                            width: 100%;
                            height: 100%;
                            padding-right: 1em;
                            padding-left: 1rem;
                            margin: 0;
                            // padding: 0;
                            margin-top: 0rem;
                            box-shadow: none;
                            text-align: left;
                            transition: font-size 0.5s ease;
                            &[state*='active']{
                                > span {
                                    color: vars.$color-primary-Dark;
                                }
                            }
                            > span {
                                color: vars.$color-primary-text;
                                font-size: 1rem;
                            }
                        }
                        > .ProjectCategoryMenu {
                            box-sizing: border-box;
                            @include Tmain.TContainer_basic();
                            // @include box-shadow(0, black, 0.6);
                            // background-color: white;
                            overflow: hidden;
                            box-shadow: none;
                            padding: 0.4rem;
                            padding-right: 0.1em;
                            font-size: 1rem;
                            // padding-top: 0;
                            // border-top: 1px solid rgb(63, 63, 63);
                            margin-top: 0rem;
                            padding-left: 0.8rem;
                            // margin-left: 0.4rem;
                            width: 100%;
                            z-index: 4;
                            &[ishidden*='true']{
                                border-top: none;
                            }
                        }
                        @include mobileCategory.ProjectCategoryMenu-mobile();
                    }
                    > .MobileMenuCloseButtonContainer { 
                        width: 100%;
                        background-color: transparent;
                        box-shadow: none;
                        padding: 0;
                        padding-left: 1rem;
                        display: flex;
                        flex-direction: row;
                        justify-content: right;
                        margin: 0;
                        border-bottom: 1px solid gray;
                        > .headline {
                            background-color: transparent;
                            display: flex;
                            flex-direction: row;
                            justify-content: left;
                            align-items: center;
                            > span {
                                font-size: 1.2rem;
                            }
                        }
                        > .MobileMenuButtonClose {
                            width: max-content;
                            background-color: transparent;
                            box-shadow: none;

                            aspect-ratio: 1/1;
                            padding: 0.5rem;
                            position: relative;
                            right: 0;
                            left: auto;
                            margin-left: auto;
                        }
                    }
                }
            }
            >.ProjectListBody {
                order: 2;
                box-sizing: content-box;
                // width: fit-content;
                // min-width: 52rem;
                width: 100%;
                // max-width: 100%;

                margin: 0;
                padding: 0;
                height: 100%;
                // max-width: 90%;
                justify-self: center;
                overflow: visible;
                position: relative;
                // grid-column: 2;
                @include mobileProjectList.ProjectList-mobile(); 
            }
            >.headline {
                position: absolute;
                box-sizing: border-box;
                max-width: 14rem;
                width: 100%;
                margin: 0;
                padding: 0;
                height: 0;
                // width: 100%;
                justify-self: stretch;
                grid-column: 3;
                // display: none;
                > span {
                    visibility: hidden;
                }
            }
        } 
    }
}


