
@use '../../general/main' as Gmain;
@use '../../themes/theme1/vars';
@use '../../themes/theme1/main' as Tmain;
@use '../ADMIN.scss';
body {
    > .head {
        color: vars.$color-accent;
    }
    > .main {
        margin-top: 1rem !important;
        height: calc(100% - 1.5rem);
        max-width:90rem;
        margin-left:auto;
        margin-right: auto;
        box-sizing: border-box;
        > .contentMain {
            position: relative;
            width: 100%;
            height: 100%;
            display: grid;
            gap: 1rem;
            grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
            grid-template-rows: repeat(auto-fill, minmax(20rem, max-content));
            >.S-chartContainer {
                // @include SPLINT-border-inset();
                @include Tmain.TContainer_basic();
                position: relative;
                width: 100%;
                height: 100%;
                padding: 0;
                > canvas {
    
                }
            }
        }
    }
}