    
    /* Verdana */
    @font-face {
        font-family: 'O-Verdana';
        src: url('../../fonts/verdana/Verdana.eot');
        src: local('Verdana'),
            url('../../fonts/verdana/Verdana.eot?#iefix') format('embedded-opentype'),
            url('../../fonts/verdana/Verdana.woff2') format('woff2'),
            url('../../fonts/verdana/Verdana.woff') format('woff'),
            url('../../fonts/verdana/Verdana.ttf') format('truetype');
        font-weight: 400;
        font-style: normal;
    }
    
    @font-face {
        font-family: 'O-Verdana';
        src: url('../../fonts/verdana/Verdana-Bold.eot');
        src: local('Verdana Bold'), local('Verdana-Bold'),
            url('../../fonts/verdana/Verdana-Bold.eot?#iefix') format('embedded-opentype'),
            url('../../fonts/verdana/Verdana-Bold.woff2') format('woff2'),
            url('../../fonts/verdana/Verdana-Bold.woff') format('woff'),
            url('../../fonts/verdana/Verdana-Bold.ttf') format('truetype');
        font-weight: 700;
        font-style: normal;
    }

    /* TimesNewRoman */
    @font-face {
        font-family:"O-Times_New_Roman";
        src: 
            local("Times New Roman"),
            url('../../fonts/timesNewRoman/TimesNewRoman.ttf') format('truetype');
        font-weight: 400;
        font-style: normal;
    }
    @font-face {
        font-family:"O-Times_New_Roman";
        src: 
            local("Times New Roman bold"),
            url('../../fonts/timesNewRoman/TimesNewRomanBold.ttf') format('truetype');
        font-weight: 700;
        font-style: normal;
    }

    /* Trebuchet MS */
    @font-face {
        font-family:"O-Trebuchet_MS";
        src: local("Trebuchet MS");//url("../../fonts/ArialMT.woff2") format("");
        font-weight: 400;
        font-style: normal;
    }
    @font-face {
        font-family:"O-Trebuchet_MS";
        src: local("Trebuchet MS bold");//url("../../fonts/ArialMT.woff2") format("");
        font-weight: 700;
        font-style: normal;
    }
  
    /* Arial */
    @font-face {
        font-family:"O-Arial";
        src: local("arial");//url("../../fonts/ArialMT.woff2") format("");
        font-weight: 400;
        font-style: normal;
    }
    @font-face {
        font-family:"O-Arial";
        src: 
            local("arial bold"),
            url("../../fonts/arial/Arial-BoldMT.woff2") format("woff2");
        font-weight: 700;
        font-style: normal;
    }
    @font-face {
        font-family:"O-Arial";
        src: url("../../fonts/arial/ariblk.ttf") format("truetype");
        font-weight: 900;
        font-style: normal;
    }



    /* Roboto */
    // @font-face {
    //     font-family:"G-Roboto";
    //     src: url("../../fonts/Roboto/Roboto-Thin.ttf") format("truetype");
    //     font-weight: 100;
    // }
    //     // @font-face {
    //     //   font-family:"G-Roboto";
    //     //   src: url("../../fonts/Roboto/Roboto-ThinItalic.ttf") format("truetype");
    //     //   font-weight: 100;
    //     //   font-style: Italic;
    //     // }

    // @font-face {
    //     font-family:"G-Roboto";
    //     src: url("../../fonts/Roboto/Roboto-Light.ttf") format("truetype");
    //     font-weight: 300;
    // }
    //     // @font-face {
    //     //   font-family:"G-Roboto";
    //     //   src: url("../../fonts/Roboto/Roboto-LightItalic.ttf") format("truetype");
    //     //   font-weight: 300;
    //     //   font-style: Italic;
    //     // }

    // @font-face {
    //     font-family:"G-Roboto";
    //     src: url("../../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
    //     font-weight: 400;
    // }
    //     // @font-face {
    //     //   font-family:"G-Roboto";
    //     //   src: url("../../fonts/Roboto/Roboto-Italic.ttf") format("truetype");
    //     //   font-weight: 400;
    //     //   font-style: Italic;
    //     // }

    // @font-face {
    //     font-family:"G-Roboto";
    //     src: url("../../fonts/Roboto/Roboto-Medium.ttf") format("truetype");
    //     font-weight: 500;
    // }
    //     // @font-face {
    //     //   font-family:"G-Roboto";
    //     //   src: url("../../fonts/Roboto/Roboto-MediumItalic.ttf") format("truetype");
    //     //   font-weight: 500;
    //     //   font-style: Italic;
    //     // }

    // @font-face {
    //     font-family:"G-Roboto";
    //     src: url("../../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
    //     font-weight: 700;
    // }
    //     // @font-face {
    //     //   font-family:"G-Roboto";
    //     //   src: url("../../fonts/Roboto/Roboto-BoldItalic.ttf") format("truetype");
    //     //   font-weight: 700;
    //     //   font-style: Italic;
    //     // }

    // @font-face {
    //     font-family:"G-Roboto";
    //     src: url("../../fonts/Roboto/Roboto-Black.ttf") format("truetype");
    //     font-weight: 900;
    // }
        // @font-face {
        //   font-family:"G-Roboto";
        //   src: url("../../fonts/Roboto/Roboto-BlackItalic.ttf") format("truetype");
        //   font-weight: 900;
        //   font-style: Italic;
        // }