// @use '../../general/main' as Gmain;
@use '../../themes/theme1/vars';
@use '../../themes/theme1/main' as Tmain;
@mixin couponCodeList(){
    >.listCodeBody {
        @include Tmain.T_container();
        > .Table2D {
            > table {
                width: 100%;
                > tr {
                    &:nth-child(even){
                        background-color: vars.$color-devider;
                    }
                    &.Table2DHead {
                        > th {
                            width: 33%;
                            border-bottom: 1px solid black;
                            > div {
                                > span {

                                }
                            }
                        }
                    }
                    &.Table2DRow {
                        > td {
                            text-align: center;
                            > div {
                                > span {

                                }
                            }
                        }
                    }
                } 

            }
        }
    }
}