
@mixin PseudoArrow-right(){
    &:after {
      content: '\25ba';
      padding-left: 0.5em;
    }
}
@mixin PseudoArrow-left(){
    &:before {
        content: '\25c4';
        padding-right: 0.5em;
      }
}
@mixin PseudoArrow-top(){
    &:after {
        content: '\25b2';
        padding-left: 0.5em;
      }
}
@mixin PseudoArrow-down(){
    &:after {
      content: '\25bc';
      padding-left: 0.5em;
    }
}

@mixin clipEdgesAll($size){
    
    clip-path: polygon(
            0 $size,
            $size 0,

            $size -400%,
            calc(100% - $size) -400%,

            calc(100% - $size) 0,
            100% $size,

            400% $size,
            400% calc(100% - $size),

            100% calc(100% - $size),
            calc(100% - $size) 100%,

            calc(100% - $size) 400%,
            $size 400%,

            $size 100%,
            0 calc(100% - $size),

            -400% calc(100% - $size),
            -400% $size,

            0 $size
    );
}
  
@mixin preventSelect(){
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
    -webkit-tap-highlight-color: transparent !important;

    -webkit-user-select: none !important;
    -khtml-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
  }