@use "vars";


/* width */
::-webkit-scrollbar {
    margin-inline: 2px;
    width: 5px;
}
  
/* Track */
::-webkit-scrollbar-track {
    width: 2px;
    transform: scale(2);
  background: vars.$scrollbar-track-color;
}

/* Handle */
::-webkit-scrollbar-thumb {
    width: 5px;
    transform: scale(2);
  background: vars.$scrollbar-thumb-color;
  border-radius: vars.$border-radius;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: vars.$scrollbar-thumb-hover-color;
}

// @mixin mobile(){
//     /* width */
//     ::-webkit-scrollbar {
//         margin-inline: 2px;
//         width: 3px;
//     }
      
//     /* Track */
//     ::-webkit-scrollbar-track {
//         width: 2px;
//         transform: scale(2);
//       background: vars.$scrollbar-track-color;
//     }
    
//     /* Handle */
//     ::-webkit-scrollbar-thumb {
//         width: 5px;
//         transform: scale(2);
//       background: vars.$scrollbar-thumb-color;
//       border-radius: vars.$border-radius;
//     }
     
//     /* Handle on hover */
//     ::-webkit-scrollbar-thumb:hover {
//       background: vars.$scrollbar-thumb-hover-color;
//     }
// }

// @mixin desktop(){
//     /* width */
//     ::-webkit-scrollbar {
//         margin-inline: 2px;
//         width: 5px;
//     }
      
//     /* Track */
//     ::-webkit-scrollbar-track {
//         width: 2px;
//         transform: scale(2);
//       background: vars.$scrollbar-track-color;
//     }
    
//     /* Handle */
//     ::-webkit-scrollbar-thumb {
//         width: 5px;
//         transform: scale(2);
//       background: vars.$scrollbar-thumb-color;
//       border-radius: vars.$border-radius;
//     }
     
//     /* Handle on hover */
//     ::-webkit-scrollbar-thumb:hover {
//       background: vars.$scrollbar-thumb-hover-color;
//     }
// }