@use '../../general/fonts.scss';

//NavBar
$NavBar-height-mobile-small : 6vh; 
$NavBar-height-mobile       : 7vh;
$NavBar-height-desktop      : 7vh;


$--IMPORTANT            : "!important";
$size__site_content_width: 1024px;

$LIGHTER-ratio          : 0.6609; // 38/57.5;
$LIGHTER-ratio2         : 1.5131;

$font-family-main       : "G-Roboto";
$font-weight-main       : 400;

$general-skew           : 0deg;
$header-skew            : 0deg; 
$color-Footer           : rgb(222, 222, 222);
$color-Footer-Border    : rgb(163, 163, 163);
$color-Footer-Converter-mobile  : rgb(211, 211, 211);

$color-hover            : #c9c9c9;
$color-primary-complementary : #3287ff;
$color-primary-complementary-Dark : #006bff;
$color-primary-complementary-light : #66a4ff;
$color-primary          : #FFAA32;//#f9a81d;
$color-primary-flat     : #E5A244;//#f9a81d;
// $color-primary          : #f9751d;
$color-primary-Dark     : #FF9400;//#F79800;
$color-primary-light    : #FFC166;//#F4AA3A;
$color-slider-thumb     : #7b7b7b;
$color-slider-thumb-Dark: #525252;
$color-background-orange: #fefefe;
$color-primary-text     : #000000;
$color-secondary-text   : #BCBCBC;
$color-background       : #fff8f1;//#fdfdfd;
$color-devider          : #d9d9d9;
$color-accent           : #019FAB;
$color-gold             : rgb(255, 215, 0);
$color-chrome           : rgb(239, 248, 255);
$color-tooltip          : rgb(192, 192, 192);
$color-shadow           : rgb(192, 192, 192);
$color-lighter          : rgb(24, 24, 24);
$color-background-subWindow : rgba(26, 26, 26, 0.808);


$color-header-Dark      : rgba(0, 0, 0, 0.7);
$color-header           : transparent;
$color-header-active    : white;//#cbcbcb;

$color-T_container-Dark : rgba(0, 0, 0, 0.7);
$color-T_container-Dark-M      : #858585;
$color-T_container-Medium      : #c0c0c0;
$color-T_container      : #e4e4e4;

//button
$color-button-active    : $color-primary;
$color-button-passive   : $color-primary-light;
$color-button-hover     : $color-primary-Dark;
$color-button-disabled  : lightgrey;

//scrollbar
$scrollbar-thumb-color          : rgb(189, 189, 189);
$scrollbar-track-color          : transparent;
$scrollbar-thumb-hover-color    : gray;

$border-radius          : 0px;