@use '../../general/main' as Gmain;
@use '../ADMIN';
@use '../../general/buttons' as Gbuttons;
// @import '../../general/NavigationBar/NavigationBar.scss';
// @import '../../designs/designs.scss';

body {
    > div {
        @include Gmain.border();
        overflow-y: scroll;
        overflow-x: hidden;
        > .menuElementMain {
            @include Gmain.border();
            margin-left: 1em;
            > .DBelement {
                @include Gmain.border();
                margin-left: 1em;
                &[state*='active']{
                    > .TBelement {
                        display: block;
                    }
                }
                > .TBelement {
                    @include Gmain.border();
                    margin-left: 1em;
                    display: none;
                }
            }
        }
    }
}