@use '../../general/mediaQueries';
@use '../../themes/theme1/main' as Tmain;
@use '../../themes/theme1/vars';
@use '../../../../../Splint/scss/tools/tools' as S_tools;

@mixin Checkout_rightPart {
    > .CheckoutRightMain{
        @include mediaQueries.forMediaBreakpoint(mobile-small){
            display: none !important;
        }
        background-color: rgb(236, 236, 236);
        position: relative;
        margin-right: 0;
        padding-left: 1%;
        width: 40%;
        height: 100%;
        display: flex;
        flex-direction: column;
        overflow: visible;
        justify-content: start;
        >.backgroundFiller {
            position: absolute;
            background-color: rgb(236, 236, 236);
            left: 100%;
            top: 0;
            width: 100%;
            height: 100%;
        }
        > .listMain {
            position: relative;
            width: 80%;
            margin-top: 6vh;
            height: max-content;
            overflow: auto;
            padding: 0.1em;
            box-sizing: border-box;
            > .listElement {
                position: relative;
                max-height: 20em;
                height: max-content;
                @include Tmain.TContainer_basic();
                overflow: hidden;
                gap: 1em;
                display: flex;
                align-items: stretch;
                padding: 0em;
                padding-inline: 0.5em;
                padding-top: -0.5em;
                box-sizing: border-box;
                &:not(:first-child){
                    margin-top: 0.5em;

                }
                @include Tmain.clipEdgesAll(5px);
                @include S_tools.SPLINT-border-inset(vars.$color-T_container-Medium, 1px, true, true, true, true);
                > .Lighter3D {
                    aspect-ratio: vars.$LIGHTER-ratio;
                    position: relative;
                    height: 100%;
                    box-sizing: content-box !important;
                    height: 20vh;
                    // transform: translateY(-15%);
                    > canvas {
                        transform: scale(1.2);
                        box-sizing: content-box !important;
                    }
                    > div { 
                        position: absolute;
                        background-color: vars.$color-primary;
                        font-size: 150%;
                        top: 10%;
                        left: 80%;
                        border-radius: 25% 25%;
                        width: 1.2em;
                        height: 1.2em;
                        overflow: hidden;
                        text-align: center;
                        vertical-align: middle;
                        transition: transform 0.3s;
                        > span {
                            user-select: none;
                            position: relative;
                        }
                        &:hover {
                            transition: transform 0.2s;
                            transform: rotate(10deg);;
                        }
                    }
                }
                > .informationDiv {
                    user-select: none;
                    flex-grow: 1;
                    position: relative;
                    width: auto;
                    display: flex;
                    flex-direction: column;

                    > div {
                        &.name {
                            margin-top: 1em;
                            order: 2;
                            font-size: 1em;
                        }
                        &.price {
                            margin: 0.25em;
                            float: right;
                            justify-content: right;
                            font-size: 2.5em;
                            order: 1;
                            >.PriceDiv {
                                float: right;
                            }
                        }
                    }
                }
            }
        }
        > .conclusionMain {
            margin: 0.1em;
            margin-top: 0.5em;
            margin-bottom: 6vh;
            width: calc(80% - 0.4em);
            padding: 0;
            box-sizing: border-box;
            > .couponCodeContainer {
                // @include Tmain.T_container();
                display: flex;
                justify-content: stretch;
                padding: 0;
                @include Tmain.TContainer_basic();
                padding: 0.5em;
                > div {
                    flex-grow: 1;
                    // width: 100%;
                }
                > button {
                    @include Tmain.TButton_simple();
                    width: max-content;
                    margin-top: 1em;
                    margin-bottom: 1em;;
                    > span {
                        word-wrap: none;
                        white-space: nowrap;
                        // wr
                    }
                }

            }
            > .priceContainer {
                @include Tmain.TContainer_basic();
                padding: 0.5em;
                margin-top: 0.5em;
                // width: 100%;
                > .Table2D {
                    // margin: 0.5em;
                    width: 100%;
                    > table {
                        width: 100%;
                        > tr {
                            width: 100%;
                            > td {
                                
                            padding-top: 0.25em;
                            padding-bottom: 0.25em;
                            }
                            &:not(:last-child){
                                @include S_tools.SPLINT-border-inset(rgba(211, 211, 211, 0.39), 1px, false, false, true, false);

                            }
                        }
                    }   
                }
            }
        }
 
    } 
}