@use '../../general/main' as Gmain;
@use '../../general/mediaQueries';
@use '../../../../../Splint/scss/tools/tools' as S_tools;

@use '../../themes/theme1/main' as Tmain;
@use '../../themes/theme1/buttons' as Tbuttons;
@use '../../themes/theme1/vars';
// @import '../../general/buttons.scss';
@use '../../general/NavigationBar/NavigationBar';

// @import '../../shoppingCart/shoppingCart.scss';NavigationBar/NavigationBar

@import 'subPages/_Payment.scss';
@import 'subPages/_Address.scss';
@import 'subPages/_Overview.scss';
@import 'subPages/_Sending.scss';
@import 'subPages/_Overview.scss';
@import '_rightPart.scss';
@import '_mobileProductOverview.scss';

.NavigationBar{
    height: 0;
}

body {
    position: absolute;
    margin: 0 !important;
    // margin-top: 1em !important;
    top: 0 !important;
    padding: 0;
    width: 100%;
    height: 100dvh !important;
    overflow: hidden;
    background-color: vars.$color-background;
    display: flex;
    flex-direction: row;
    
    justify-content: center !important;
    align-items: center !important;
}

.MainButton{
    position: relative;
    float: right;
    right: 5%;
    font-size: 2em;
}

.SavedInformationMain {
    position: relative;
    @include Tmain.T_container();
    // background-color: white;
    margin: 0.5em;
    box-sizing: border-box;
    overflow:hidden;
    > hr {
        // &:first-of-type {
        //     display: none;
        // }
    }
    > .element{
        position: relative;
        // box-sizing: border-box;
        // left: 1%;  
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        padding-inline: 0.5em;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        width: 100%;
        // &:not(:first-child){
        //     @include SPLINT-border-inset(lightgray, 1px, true, false, false, false);
        // }
        > div {
            position: relative;
            // box-sizing: border-box;
            display: flex;
            flex-wrap: wrap;
            width: 60%;
        }
        > button {
            right: 0;
            margin-left: auto;
            position: relative;
        }
        > label {
            position: relative;
            width: 25%;
        }
    }
}
.CheckoutMain{
    // font-size: 1.5em;
    position: relative;
    // margin-left: 10vw;
    width: 100em;
    height: 100%;
    display: flex;
    flex-direction: row;
    > .CheckoutLeftMain {
        padding-left: 10%;
        padding-right: calc(1% - 0.5rem);
        overflow: visible;
        position: relative;
        border-right: 1px solid vars.$color-devider;
        display: flex;
        flex-direction: column;
        width: 60%;
        @include mediaQueries.forMediaBreakpoint(mobile-small){
            padding-left: 5%;
            width: 90%;
            border: none;
        }
        height: 100%;
        > .CheckoutHead {
            position: relative;
            width: 100%;
            height: 20%;
            @include mediaQueries.forMediaBreakpoint(mobile-small){
                height: 13%;
                padding-bottom: 1rem;
            }
            box-sizing: border-box;
            > .CheckoutLogoContainer {
                @include mediaQueries.forMediaBreakpoint(mobile-small){
                    display: flex;
                    justify-content: center;
                }
                position: relative;
                top: 10%;
                margin-left: auto;
                margin-right: auto;
                // width: 5%;
                height: 50%;
                padding-bottom: 0.5rem;
                margin: 0;
                > img {
    
                    position: relative;
                    top: 10%;
                    margin-left: auto;
                    margin-right: auto;
                    // width: 5%;
                    height: 100%;
                    margin: 0;
                }

            }
            > .progressDivMain{
                @include mediaQueries.forMediaBreakpoint(mobile-small){
                    font-size: 1.5rem;
                }
                position: relative;
                top: 22.5%;
                height: 15%;
                width: calc(100% - 1em);
                // padding-inline: 0.5em;
                box-sizing: border-box;
                display: flex;
                flex-direction: row;
                // padding-inline: 1%;
                > .Field {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    height: 100% !important;
                    cursor: pointer;
                    span {
                        padding-inline: 1em;
                    }
                }
            }
        }
        
        > .SendingMain{
            width: 100%;
            // left: 1%;
            .sendingChoiceDiv {
                > .RadioButton {
                    border: none;
                    background-color: white;
                    @include Gmain.box-shadow();
                    > div {
                        > div {
                            display: flex;
                            width: 100%;
                            align-items: center;
                            > input {
                                margin: 2%;
                            }
                            > div[id*='Label']{
                            }
                            > div[id*='Price']{
                                position: relative;
                                right: 0;
                                align-items: center;
                                margin-left: auto;
                                
                            }
                        }
                    }
                }
            }
        }
            @include checkout_Sending();
            @include checkout_Payment();
            @include checkout_Address();
            @include checkout_Overview();
        > div {
            position: relative;
            height: 100%;
            overflow-x: hidden;
            overflow-y: auto;
            > * {
                margin: 0.5rem;
                margin-right: 0.5rem;
                margin-top: 0.5rem;
            }
            
            > .productOverviewBody {
                @include Tmain.T_container();
                position: relative;
                display: none;
                height: min-content;
                @include mediaQueries.forMediaBreakpoint(mobile-small){
                    display: block;
                }
                padding: 0;
                box-sizing: content-box;
                > .buttonBody {
                    > * {
                        cursor: pointer;
                    }
                    cursor: pointer;
                    // padding-inline: 0.5em;
                    padding: 0;
                    display: flex;
                    height: max-content;
                    justify-content: stretch;
                    // width: 100%;
                    // height: 100%;
                    transition: box-shadow 0.3s;
                    &:hover {
                        @include Gmain.box-shadow(0, black, 0.95);
                    }
                    @include S_tools.SPLINT-border-inset(lightgray, 1px, false, false, true, false);
                    > button {
                        &.switchButton {
                            padding: 1rem;

                        }
                        &.namedButton {
                            width: 100%;
                            border: none;
                            box-shadow: none;
                            padding: 1rem;
                            padding-left: 0.5rem;
                            margin: 0;
                            justify-content: left;
                            text-align: left;
                            background-color: transparent;
                            > span {
                                font-size: 2em;;
                            }
                            &:hover {
                                background-color: transparent;
                            }
                        }
                    }
                    > div {
                        user-select: none;
                        height: 100%;
                        margin-top: auto;
                        margin-bottom: auto;
                        margin-right: 2em;
                        font-size: 1.2em;
                    }
                }
                > .expander {
                    position: relative;
                    // @include T_container();
                    overflow: hidden;
                    top: 100%;
                    z-index: 1000;
                    width: 100%;
                    height: 0;
                    padding: 0;

                    // background-color: red;
                    &[state*='active']{
                        height: max-content;
                        padding: 0em;
                    }
                    &[state*='passive']{
                        height: 0;
                        padding: 0;
                    }
                    @include CheckoutMobileProductOverview();

                }
            }
            > .buttonsDiv {
                background-color: transparent;
                box-shadow: none;
                padding: 0;
                > .button_submit {
                    @include Tmain.TButton_basic();
                }

            }
        }
        // }
    }
    @include Checkout_rightPart();
}


.fastCheckout {
    border: none !important;
    // box-shadow: none!important;
    // margin: 0!important;
    box-sizing: border-box;
    // padding: 0!important;
    padding: 1em;
    @include Tmain.TContainer_basic();
    padding: 0.5rem;
    > div {
        display: flex!important;
        justify-content: center;
        > div {
            width: 100% !important;
            max-width: 750px !important;
        }
    }
}


@keyframes AddressList-expand {
    0%      { height: 2em  };
    100%    { height: 20em };
}

@keyframes AddressList-implode {
    0%      { height: 2em; };
    100%    { height: 20em };
}

@keyframes rotateF {
    0%      { 
        transform: rotate(0deg) translate(50%, 50%); 
    };
    100%      { 
        transform: translate(50%, 50%) rotate(9deg); 
    };
}