@import "vars.scss";
/* width */
::-webkit-scrollbar {
    width: 5px;
}
  
/* Track */
::-webkit-scrollbar-track {
  background: $scrollbar-track-color;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $scrollbar-thumb-color;
  border-radius: $border-radius;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $scrollbar-thumb-hover-color;
}