@use '../main' as Gmain;
@use '../../themes/theme1/vars';
@use '../../themes/theme1/main' as Tmain;
@use '../../../../../Splint/scss/tools/tools' as S_tools;
@use 'sass:color';
@use '../mediaQueries';


@include mediaQueries.forMediaBreakpoint(desktop mobile){
    .CookieBanner {
        position: absolute;
        left: 50%;
        top: 100%;
        // transform: translateX(-50%) translateY(100%);
        z-index: 3000;
        width: 100%;
        height: max-content;
        overflow: visible;
        // overflow: visible;
        transform: translateX(-50%) translateY(100%);
        transition: transform ease-in 0.5s;
        // font-size: 1.5rrem;
        // @include mediaQueries.forMediaBreakpoint(mobile-small){
        //     font-size: 2rrem;
        // }
        &[state*='active']{
            transform: translateY(calc(-50% - 1vh)) translateX(-50%);
            transition: transform ease-in 0.5s;
        }   
        > .content {
            position: relative;
            height: max-content;
            max-height: 89vh;
            margin: 0; 
            // overflow: auto;
            // overflow: hidden;
            overflow-y: hidden;
            padding: 0.75rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            // justify-content: center;
            transform: translateX(-50%) translateY(-50%);
            width: 100% !important;
            @include Tmain.TContainer_basic();
            gap: 0.5rem;
            > .headContainer {
                flex: 1;
                width: 100%;
                position: relative;
                // width: max-content;
                height: max-content;
                > div {
                    position: relative;
                    width: max-content;
                    height: max-content;
                    > span {
                        font-size: 2rem;
                        font-weight: 500;
                    }
                }
            }
            > .mainContentContainer {
                flex: 0;
                width: 100%;
                height: auto;
                overflow: visible;
                max-height: 100%;
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: stretch;
                font-size: 1rem;
                > .textContainer {
                    flex: 0;
                    position: relative;
                    height: max-content;
                    overflow-x: hidden;
                    overflow-y: auto;
                    display: flex;
                    flex-direction: column;
                    gap: 0.25rem;
                    font-size: 1rem;
                    > .s-TextView {
                        > p {
                            font-size: 1rem;
                        }
                    }
                }
                > hr {
                    width: 102%;
                    margin: 0;
                    padding: 0;
                    left: -1%; 
                    margin-top: 0.5rem;
                    margin-bottom: 0.45rem;
                }
                > .settingsContainer {
                    flex: 1;
                    width: 100%;
                    height: 100%;
                    position: relative;
                    display: flex;
                    flex-direction: row;
                    @include mediaQueries.forMediaBreakpoint(mobile-small){
                        flex-direction: column;
                        gap: 0.5rem;
                        > div {
                            width: 100% !important;
                        }
                    }
    
                    > div {
    
                        width: 50%;
                        > .checkbox {
                            > input {
    
                            }
                            > label {
                                font-size: 1.5rem;
                            }
                        }
                        > .s-TextView {
                            > p {
                                font-size: 1rem;
                            }
                        }
                    }
                }
            }
            > .buttonsContainer {
                flex: 1;
                position: relative;
                width: 100%;

                height: max-content;
                display: flex;
                flex-direction: row;
                justify-content: left;
                gap: 0.5rem;
                > button {
                    position: relative;
                    width: max-content;
                    font-size: 1.5rem;
                    padding: 0.5rem;
                    @include Tmain.TButton_simple();
                    > span {
                        font-size: 1.5rem;
                        white-space: nowrap;
                    }
                }
            }
        }
    }
}


@include mediaQueries.forMediaBreakpoint(mobile-small){
    .CookieBanner {
        position: absolute;
        left: 50%;
        top: 100%;
        // transform: translateX(-50%) translateY(100%);
        z-index: 3000;
        width: 100%;
        height: max-content;
        overflow: visible;
        // overflow: visible;
        transform: translateX(-50%) translateY(100%);
        transition: transform ease-in 0.5s;
        // font-size: 1.5rrem;
        // @include mediaQueries.forMediaBreakpoint(mobile-small){
        //     font-size: 2rrem;
        // }
        &[state*='active']{
            transform: translateY(calc(-50% - 1vh)) translateX(-50%);
            transition: transform ease-in 0.5s;
        }   
        > .content {
            position: relative;
            width: max-content;
            height: max-content;
            max-height: 89vh;
            margin: 0; 
            // overflow: auto;
            // overflow: hidden;
            overflow-y: hidden;
            @include Tmain.TContainer_basic();
            padding: 1.75rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            // justify-content: center;
            transform: translateX(-50%) translateY(-50%);
            gap: 1rem;
            > .headContainer {
                flex: 1;
                width: 100%;
                position: relative;
                // width: max-content;
                height: max-content;
                > div {
                    position: relative;
                    width: max-content;
                    height: max-content;
                    > span {
                        font-size: 3rem;
                        font-weight: 500;
                    }
                }
            }
            > .mainContentContainer {
                flex: 0;
                width: 100%;
                height: auto;
                overflow: visible;
                max-height: 100%;
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: stretch;
                font-size: 1rem;
                > .textContainer {
                    flex: 0;
                    position: relative;
                    height: max-content;
                    overflow-x: hidden;
                    overflow-y: auto;
                    display: flex;
                    flex-direction: column;
                    gap: 0.75rem;
                    font-size: 1rem;
                    > .s-TextView {
                        > p {
                            font-size: 0.8rem;
                        }
                    }
                }
                > hr {
                    width: 102%;
                    margin: 0;
                    padding: 0;
                    left: -1%; 
                    margin-top: 1rem;
                    margin-bottom: 0.9rem;
                }
                > .settingsContainer {
                    flex: 1;
                    width: 100%;
                    height: 100%;
                    position: relative;
                    display: flex;
                    flex-direction: row;
                    @include mediaQueries.forMediaBreakpoint(mobile-small){
                        flex-direction: column;
                        gap: 1rem;
                        > div {
                            width: 100% !important;
                        }
                    }
    
                    > div {
    
                        width: 50%;
                        > .checkbox {
                            > input {
    
                            }
                            > label {
                                font-size: 2rem;
                            }
                        }
                        > .s-TextView {
                            > p {
                                font-size: 1.8rem;
                            }
                        }
                    }
                }
            }
            > .buttonsContainer {
                flex: 1;
                position: relative;
                width: 100%;
                height: max-content;
                display: flex;
                flex-direction: row;
                gap: 0.5rem;
                > button {
                    position: relative;
                    width: 50%;
                    @include Tmain.TButton_simple();
                    > span {
                        font-size: 2.5rem;
        
                    }
                }
            }
        }
    }
}
