@use '../general/main' as Gmain;
@use '../themes/theme1/vars';
@use '../themes/theme1/main' as Tmain;
@use '../general/buttons' as Gbuttons;
@use '../../../../Splint/scss/tools/tools' as S_tools;
@use '../../../../Splint/scss/Elements/AdaptiveTable' as S_adaptTable;
// @import '../general/NavigationBar.scss';
// @import '../ADMIN/designs/designs.scss';

$color-image-hover         : rgba(64, 64, 64, 0.553);

@mixin imageMenuDesktop(){
    .ImageMenu_MAIN {
        position: absolute;
        border: none;
        background-color: transparent;
        user-select: all;
        pointer-events: all;
        z-index: 1001;
        top: 8vh;
        left: 5%;
        width: 90%;
        height: calc(100% - 8vh);
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: stretch;
        align-items: center;
        overflow: visible;
        > .ImageMenuFilter {
            @include Tmain.T_container();
            order: 1;
            flex-grow: 0;
            flex-shrink: 3;
            position: relative;
            width: 100%;
            margin: 0;
            margin-left: 0.5rem;
            margin-top: 0.5rem;
            margin-bottom: 0;
            height: 90%;
            z-index: 1001;
            > .bt_help {
                background-color: green;
                > .dropdown {
                    position: absolute;
                    left: 50%;
                    top: 100%;
                    transform: translateX(-50%);
                    min-width: 200%;
                    min-height: 200%;
                    margin-left: 0;
                    width: max-content;
                    height: max-content;
                    background-color: yellow;
                    > .test {
                        background-color: red;
                    }
                }
            }
            .ModeSwitch {
                position: relative;
                display: inline-block;
                width: 98%;
                height: max-content;
                margin: 1%;
                margin-top: 1em;
                overflow: hidden;
                > div {
                    display: flex;
                    justify-content: stretch;
                    align-items: stretch;
                    padding: 0.2em;
                    gap: 1%;
                    button {
                        @include Gmain.box-shadow();
                        width: 100%;
                        // padding: 0.2em;
                        // margin-inline: 1em;
                        border-radius: vars.$border-radius;
                        border: none;
                        position: relative;
                        &:hover{
                            background-color: vars.$color-primary;
                        }
                    }
                }
            }
            .InputDivMain {
                > button {
                    &:hover {
                        background-color: vars.$color-primary;
                    }
                }
        
            } 
        }
        > .hintBody {
            // background-color: red;
            height: 100%;
            width: 98%;
            display: flex;
            justify-content: center;
            align-items: center;
            > button {
                color: white;
                user-select: none;
                pointer-events: none;
                > span {
                    font-size: 20em;
                    &.description {
                        font-size: 2rem;
                        text-decoration: none;
                    }
                }

            }
        }
        @include S_adaptTable.AdaptiveTableStyle(vars.$border-radius);
        >.AdaptiveTableMain {
            > .ListMain {
                margin-top: 0.5rem;
                > .column {
                    width: 40%;
                    -webkit-box-orient: horizontal;
                    box-sizing: border-box;
                    > .ListElement {
                        padding: 0.3rem;
                        > img {
                            @include Gmain.box-shadow(0, rgba(255, 255, 255, 0.705), 0.4);
                            border-radius: vars.$border-radius;
                        }
                        > .hoverDiv {
                            margin: 0.3rem;
                            width: calc(100% - 0.6rem);
                            height: calc(100% - 0.6rem);
                            > .buttonDiv {
                                display: flex;
                                flex-direction: row;
                                justify-content: space-evenly;
                                position: absolute;
                                margin-top: auto;
                                bottom: 0;
                                width: 100%;
                                height: fit-content;
                                @include S_tools.SPLINT-border-inset();
                                > button {
                                    > span {
                                        color: white;
                                        font-size: 3rem;

                                    }
                                }
                                > .likeDiv {
                                    position: relative;
                                    width: min-content;
                                    overflow: hidden;
                                    height: min-content;
                                    > button {
                                        width: 100%;
                                        height: 100%;
                                        color: white;

                                        > span {
                                            
                                        color: white;
                                            font-size: 3rem;
                                        }
                                    }
                                    > .likePoint {

                                        @include Tmain.preventSelect();
                                        cursor: pointer;
                                        position: absolute;
                                        z-index: 1;
                                        left: 50%;
                                        top: 60%;
                                        background-color: vars.$color-primary;
                                        border-radius: 50%;
                                        width: 1em;
                                        height: 1em;
                                        aspect-ratio: 1/1;
                                        display: flex;
                                        justify-content: center;
                                    }
                                }
                            }
                            > .tagsDiv {
                                > Button {
                                    > span {
                                        
                                    }
                                }
                            }
                        }
                        > .bottomDiv {
                            // display: none;
                            > button {
                                > span {

                                }
                            }
                        }
                    }
                }
            }
        }
        > .AdaptiveTableMain {
            &::-webkit-scrollbar {
                display: none;
            }
              
            /* Track */
            &::-webkit-scrollbar-track {
                display: none;
            }
            
            /* Handle */
            &::-webkit-scrollbar-thumb {
                display: none;
            }
             
            /* Handle on hover */
            &::-webkit-scrollbar-thumb:hover {
                display: none;
            }
            // > .ListMain {

            // }
        }
    }
    // > .Background {
    //     position: absolute;
    //     user-select: all;
    //     pointer-events: all;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    //     background-color: rgba(43, 43, 43, 0.651);
    //     background-color: rgba(225, 225, 225, 0.479);
    // }

    .HashtagListMenu {
        position: relative;
        margin: 1%;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: max-content;
        font-size: 1em;
        > div {
            @include Gmain.box-shadow(1);
            background-color: vars.$color-primary-light;
            $map: (
                background-color    : vars.$color-primary,
                border              : 0px solid yellow
                );
            @include Gbuttons.onActive($map);
            border-radius: vars.$border-radius;
            padding: 0.2em;
            margin: 0.15em;
            transition: background-color 0.2s;
            transition: transform 0.2s;
            &:hover {
                background-color: vars.$color-primary-Dark;
                transform: translateY(-10%);
            }
            > button {
                position: relative;
                padding: 0;
                margin: 0;
                vertical-align: sub;
                font-size: 1em;
                box-sizing: content-box;
                display: inline;
                > span {
                    position: relative;
                    display: contents;
                    box-sizing: border-box;
                }
            }
        }
    }



    .divider {
        display: none;
        order: 2;
        flex-grow: 0;
        flex-shrink: 1;
        position: relative;
        margin-inline: 1%;
        top: 3%;
        height: 94%;
        width: 1px;
        border: none;
        border-left: 1px solid black;
    }
}
