@use '../general/main' as Gmain;
@use '../themes/theme1/vars';
@use '../themes/theme1/main' as Tmain;
@use '../general/buttons' as Gbuttons;
// @import '../general/NavigationBar.scss';
// @import '../ADMIN/designs/designs.scss';

$color-image-hover         : rgba(64, 64, 64, 0.553);

@mixin imageMenuMobile(){
    .Background {
        position: absolute;
        user-select: all;
        pointer-events: all;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0 !important;
        background-color: rgba(43, 43, 43, 0.651) !important;
        // background-color: red!important;
    }
    .ImageMenu_MAIN {
        position: absolute;
        border: none;
        background-color: transparent;
        user-select: all;
        pointer-events: all;
        z-index: 1000;
        top: 0;
        left: 0%;
        width: 100%;
        height: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        align-items: center;
        overflow: visible;
        > .ImageMenuFilter {
            // pointer-events: none;
            // user-select: none;
            @include Tmain.T_container();
            display: flex;
            border-radius: 5px;
            order: 1;
            flex-grow: 0;
            flex-shrink: 3;
            position: relative;
            width: 96%;
            margin: 0;
            margin-top: calc(7vh + 0.5rem);
            padding: 0em;
            // z-index: 1200;
            box-sizing: border-box;
            height: min-content;
            // box-shadow: 0 0 50px 2px rgba(1, 1, 1, 0.6);
            @include Tmain.clipEdgesAll(5px);
            > button {
                order: 2;
                height: 100%;
                margin-left: 0.5rem;
                aspect-ratio: 1/1.5;
                > span {
                    font-size: 4rem;
                }
            }
            > .n_inputDiv {
                order: 1;
                width: 100%;
                margin-top: 0;
                font-size: 2rem;
                > .inputBody {
                    > input {
                        font-size: 2rem;

                    }
                    >label {
                        > span {
                            font-size: 2rem;

                        }
                    }
                    >button {
                        height: 100%;
                        margin-top: 0.25rem;
                        margin-left: 0.5rem;
                        aspect-ratio: 1/1.5;
                        > span {
                            font-size: 4rem;
                            
                        }
                    }
                }
            }
            .ModeSwitch {
                display: none !important;
                position: relative;
                display: inline-block;
                width: 98%;
                height: max-content;
                margin: 1%;
                margin-top: 1em;
                overflow: hidden;
                > div {
                    display: flex;
                    justify-content: stretch;
                    align-items: stretch;
                    padding: 0.2em;
                    gap: 1%;
                    button {
                        @include Gmain.box-shadow();
                        width: 100%;
                        // padding: 0.2em;
                        // margin-inline: 1em;
                        border-radius: vars.$border-radius;
                        border: none;
                        position: relative;
                        &:hover{
                            background-color: vars.$color-primary;
                        }
                    }
                }
            }
            .InputDivMain {
                user-select: contain;
                pointer-events: all;
                margin: 0;
                width: 100%;
                height: min-content;
                box-sizing: border-box;
                > button {
                    pointer-events: all;
                    cursor: pointer;
                    &:hover {
                        background-color: vars.$color-primary;
                    }
                }
        
            } 
        }
        ::-webkit-scrollbar {
            display: none;
        }
        > .AdaptiveTableMain {
            order: 2;
            -webkit-box-ordinal-group: none;
            > .ListMain {
                // justify-content: flex-start;
                padding-top: 1rem;
                > .column {
                    overflow: visible;
                    width: 50%;
                    -webkit-box-orient: horizontal;
                    box-sizing: border-box;
                    > .ListElement {
                        // transition: transform 0.2s ease-in-out;
                        &[s-state*="active"]{
                            // &[c_index*="0"]{
                            //         z-index: 5;
                            //         transform: translateX(10%) translateY(10%) scale(1.2);
                            // }
                            // &[c_index*="1"]{
                            //     z-index: 5;
                            //     transform: translateY(10%) scale(1.2);

                            // }
                            // &[c_index*="2"]{
                            //     z-index: 5;
                            //     transform: translateX(-10%) translateY(10%) scale(1.2);

                            // }
                        }
                        padding: 0;
                        box-sizing: border-box;
                        height: min-content;
                        > img {
                            box-sizing: border-box;
                            margin: 1vw;
                            width: calc(100% - 2vw);
                            overflow-clip-margin: border-box;
                            border-bottom-left-radius: 0;
                            border-bottom-right-radius: 0;
                            margin-bottom: 0;
                        }
                        > .hoverDiv {
                            box-sizing: border-box;
                            margin: 1vw;
                            width: calc(100% - 2vw);
                            height: calc(100% - 2vw);
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            > .buttonDiv {
                                margin-top: auto;
                                display: flex;

                                align-self: flex-end;
                                width: 100%;
                                height: max-content;
                                > button {
                                    align-self: flex-end;
                                    position: relative;
                                    bottom: 0;
                                    margin-left: auto;
                                    right: 0;
                                    > span {
                                        color: vars.$color-primary-Dark;
                                        font-size: 1em;
                                    }
                                    &:hover {
                                        color: white;
                                        > span {
                                            color: white !important;
                                        }
                                    }
                                }
                            }
                            > .informationDiv {

                            }
                            >.tagsDiv{
                                display: none;
                            }
                        }
                        > .bottomDiv {
                            // display: none !important;
                            display: none;
                            // position: relative;
                            // @include Tmain.T_container();
                            // z-index: 2000;
                            // height: 20px;
                            // margin: 1vw;
                            // margin-top: 0;
                            // margin-bottom: 0;
                            // width: calc(100% - 2vw);
                            // padding: 0;
                            // display: flex;
                            // justify-content: center;
                            // // height: calc(100% - 2vw);
                            // // bottom: -20px;
                            // // background-color: red;
                            // > button {
                            //     margin-left: auto;
                            //     margin-right: auto;
                            //     width: max-content;
                            // }
                        }
                    }
                }

            }
        }
    }

    .HashtagListMenu {
        display: none !important;
        position: relative;
        margin: 1%;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: max-content;
        font-size: 1em;
        > div {
            @include Gmain.box-shadow(1);
            background-color: vars.$color-primary-light;
            $map: (
                background-color    : vars.$color-primary,
                border              : 0px solid yellow
                );
            @include Gbuttons.onActive($map);
            border-radius: vars.$border-radius;
            padding: 0.2em;
            margin: 0.15em;
            transition: background-color 0.2s;
            transition: transform 0.2s;
            &:hover {
                background-color: vars.$color-primary-Dark;
                transform: translateY(-10%);
            }
            > button {
                position: relative;
                padding: 0;
                margin: 0;
                vertical-align: sub;
                font-size: 1em;
                box-sizing: content-box;
                display: inline;
                > span {
                    position: relative;
                    display: contents;
                    box-sizing: border-box;
                }
            }
        }
    }
    .popupMobile {
        z-index: 1001!important;
        > .background {
            // position: relative!important;
            // width: 100%!important;
            // height: 100%!important;
            // background-color: red !important;
            z-index: 0 !important;
        }
        > .content {
            overflow: hidden !important;
            height: 100% !important;
            max-height: 91vh !important;
            display: flex;
            width: 1000px !important;
            flex-direction: column;
            justify-content: stretch !important;
            justify-items: stretch !important;;
            align-content: stretch !important;
            align-items: stretch !important;

            > button {
                height: max-content !important;
                padding-bottom: 0.5rem;
            }
            > .imgContainer {
                display: flex;
                width: 100%;
                height: 100%;
                position: relative;
                overflow: hidden;
                justify-content: center;
                > img {
                    display: block;
                    height: 100%;
                    width: auto;
                }
            }
            > .tagsDiv {
                flex: 1;
                height: 100%;
                padding: 1rem;
                // flex-grow: 1;
                border: 1px solid red;
                > button {
                    border-radius: 0;
                    box-shadow: none;
                    &:hover {
                    }
                    > span {
                        &::before {
                            text-decoration: none;
                            text-decoration-color: transparent;
                            content: "#";
                        }
                        font-size: 3rem;
                        text-decoration: underline;
                        text-decoration-thickness: 3px;
                    }
                }
            }
            > .buttonsContainer {
                flex: 1;
                height: 100%;
                padding: 1rem;
                // flex-grow: 1;
                position: relative;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                > button {
                    font-size: 5rem;
                    > span {
                        font-size: 10rem;

                    }
                }
                > .likeDiv {
                    position: relative;
                    width: min-content;
                    overflow: hidden;
                    height: 100%;
                    > button {
                        width: 100%;
                        height: 100%;
                        color: white;

                        > span {
                            
                        color: vars.$color-primary-text;
                            font-size: 10rem;
                        }
                    }
                    > .likePoint {

                        @include Tmain.preventSelect();
                        cursor: pointer;
                        position: absolute;
                        z-index: 1;
                        left: 60%;
                        top: 60%;
                        background-color: vars.$color-primary;
                        border-radius: 50%;
                        width: 2.5em;
                        height: 2.5em;
                        aspect-ratio: 1/1;
                        display: flex;
                        justify-content: center;
                        > span {
                            font-size: 2.5rem;
                        }
                    }
                }
            }
        }
    }


    .divider {
        display: none;
        order: 2;
        flex-grow: 0;
        flex-shrink: 1;
        position: relative;
        margin-inline: 1%;
        top: 3%;
        height: 94%;
        width: 1px;
        border: none;
        border-left: 1px solid black;
    }
}
