@use '../main' as Gmain;
@use '../../themes/theme1/vars';
@use '../../themes/theme1/main' as Tmain;
@use '../../../../../Splint/scss/tools/tools' as S_tools;
@use 'sass:color';
@use '../mediaQueries';

@mixin FooterDesktop(){
    html {
        overflow: hidden !important;
    }
    body {
        overflow-y: hidden!important;
        overflow-x: hidden!important;
        scroll-snap-type: y mandatory !important;
        // scroll-snap-points-y: repeat(300px);
    }
    .FooterBody {
        scroll-snap-align: start;
        top: 100%;
        position: absolute;
        width: 100%;
        height: max-content;
        background-color: vars.$color-Footer;
        border-top: 1px solid vars.$color-Footer-Border;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        > .BTContainer {
            width: 80%;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            display: flex;
            gap: 1rem;
            flex-direction: column;
            justify-content: left;
            > button {
                width: max-content;
                > span {
                    // text-decoration: underline;
                    // text-decoration-thickness: 3px;
                    font-size: 1rem;
                }
            }
        }
        > hr {
            margin: 0;
            padding: 0;
            left: 0;
            width: 95%;
        }
        > .PayingMethodsContainer {
            display: none;
            // width: 80%;

            // padding-top: 1rem;
            // padding-bottom: 1rem;
            // display: flex;
            // flex-direction: row;
            // justify-content: left;
            // > img {
            //     height: 3.5rem;
            // }
        }
    }
}