@use '../main' as Gmain;
@use '../../themes/theme1/vars';
@use '../../themes/theme1/main' as Tmain;
@use '../../../../../Splint/scss/tools/tools' as S_tools;
@use 'sass:color';
@use '../mediaQueries';

@mixin FooterMobile(){
    html {
        overflow: hidden !important;
    }
    body {
        overflow-y: hidden!important;
        overflow-x: hidden!important;
        scroll-snap-type: y mandatory !important;
        // scroll-snap-points-y: repeat(300px);
    }
    .FooterBody {
        scroll-padding-top: 6vh;
        scroll-snap-align: end;
        top: 0;
        position: relative;
        width: 100%;
        height: max-content;
        background-color: vars.$color-Footer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        > .BTContainer {
            padding: 1rem;
            display: flex;
            gap: 1rem;
            flex-direction: column;
            justify-content: left;
            width: 100%;
            box-sizing: border-box;
            > button {
                width: max-content;
                > span {
                    // text-decoration: underline;
                    // text-decoration-thickness: 1px;
                    font-size: 0.75rem;
                }
            }
        }
        > hr {
            margin: 0;
            padding: 0;
            left: 0;
            width: 95%;
        }
        > .PayingMethodsContainer {
            position: relative;

            width: 100%;
            padding: 1rem;
            display: flex;
            flex-direction: row;
            justify-content: left;
            box-sizing: border-box;
            > img {
                height: 2rem;
            }
        }
    }
}