@use '../../general/main' as Gmain;
@use '../../general/buttons' as Gbuttons;
// @import '../../general/NavigationBar.scss';
@use '../ADMIN';



body {
    >.main {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        > button {

        }
        // > button {
        //     position: absolute;
        //     // left: 500px;
        //     right: 0;
        // }
        // > .ADMIN_testSpace_NestingMain {
        //     width: 100%;
        //     height: 100%;
        //     @include border();
        // }
    }
}