
@use '../../themes/theme1/vars';
@use '../../themes/theme1/buttons' as Tbuttons;
@use '../../themes/theme1/main' as Tmain;
@use '../../../../../Splint/scss/tools/tools' as S_tools;
@use '../../general/mediaQueries';
// @use '../../themes/theme1/main' as Tmain;
$settings: (
    'font': (
        'color-1': rgb(30, 30, 30),
        'color-2': rgb(55, 55, 55)
    )
);
@keyframes testA {
    to {opacity: 1;}
    from {opacity: 0;}
  }


@function getV($keys...){
    $map: $settings;
    @each $key in $keys {
        $map: map-get($map, $key);
    }
    @return $map;
}
@mixin indexOverlay {
    @include mediaQueries.forMediaBreakpoint(mobile-small){
        > .indexOverlayMain {
            position: relative;
            width: 100%;
            height: 100%;
            overflow: hidden;
            pointer-events: none;
            user-select: none;
            background-color: rgba(255, 255, 255, 0.534);
            > .indexOverlayContent {
                width: 100%;
                height: 100%;
                overflow: hidden;
                overflow-y: scroll;
                > .part {
                    width: 100%;
                    height: 100%;
                    &[index*='start']{
                        > .content {
                            > button {
                                pointer-events: all;
                                position: sticky;
                                z-index: 2;
                                top: 85%;
                                left: 40%;
                                @include Tmain.TButton_primary();
                                background-color: vars.$color-primary-Dark;
                                > span {
                                    font-size: 3rem;
        
                                }
                            }
                        }

                    }
                    > .content {
                        width: 100%;
                        height: 100%;
                        overflow: hidden;
                        > .textBody {
                            position: sticky;
                            z-index: 1;
                            width: 45%;
                            height: max-content;
                            top: 40%;
                            display: flex;
                            flex-direction: column;
                            justify-content: start;
                            margin-left: 5%;

                            > p {
                                &.headline {
                                    font-size: 2.5rem;
                                    color: getV('font', 'color-1');
                                }
                                &.content {
                                    font-size: 1.5rem;
                                    color: getV('font', 'color-2');
                                }
                            }
                            &.part1_1{
                                top: 12vh;
                                width: 70%;
                            }
                            &.part2_1{
                                top: 12vh;
                                width: 70%;
                            }
                            &.part3_1 {
                                top: 10%;
                                width: 35%;
                            }
                            &.part3_2 {
                                top: 70%;
                            }
                            &.part4_1 {
                                top: 50%;
                            }
                        }
                        > .footer {
                            position: sticky;
                            width: 100%;
                            padding-inline: 1rem;
                            padding-bottom: 0.5rem;
                            left: 0;
                            height: max-content;
                            display: flex;
                            flex-direction: row;
                            justify-content: start;
                            margin: 0;
                            top: 100%;
                            z-index: 2;
                            gap: 1rem;
                            pointer-events: all;
                            > button {
                                width: max-content;
                                padding: 0.1rem;
                                &:hover {
                                    text-decoration: underline;
                                    text-decoration-thickness: 1px;
                                }
                                > span {
                                    font-size: 2.2rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    @include mediaQueries.forMediaBreakpoint(mobile desktop){
        > .indexOverlayMain {
            position: relative;
            width: 100%;
            height: 100%;
            overflow: hidden;
            pointer-events: none;
            user-select: none;
            background-color: rgba(255, 255, 255, 0.534);
            > .indexOverlayContent {
                width: 100%;
                height: 100%;
                overflow: hidden;
                overflow-y: scroll;
                > .part {
                    width: 100%;
                    height: 100%;
                    &[index*='start']{
                        > .content {
                            > button {
                                pointer-events: all;
                                position: sticky;
                                z-index: 2;
                                top: 85%;
                                left: 40%;
                                @include Tmain.TButton_primary();
                                background-color: vars.$color-primary-Dark;
                                > span {
                                    font-size: 3rem;
        
                                }
                            }
                        }

                    }
                    > .content {
                        width: 100%;
                        height: 100%;
                        overflow: hidden;
                        > .textBody {
                            position: sticky;
                            z-index: 1;
                            width: 45%;
                            height: max-content;
                            top: 40%;
                            display: flex;
                            flex-direction: column;
                            justify-content: start;
                            margin-left: 5%;

                            > p {
                                &.headline {
                                    font-size: 2.5rem;
                                    color: getV('font', 'color-1');
                                }
                                &.content {
                                    font-size: 1.5rem;
                                    color: getV('font', 'color-2');
                                }
                            }
                            &.part1_1{
                                top: 12vh;
                                width: 70%;
                            }
                            &.part2_1{
                                top: 12vh;
                                width: 70%;
                            }
                            &.part3_1 {
                                top: 10%;
                                width: 35%;
                            }
                            &.part3_2 {
                                top: 70%;
                            }
                            &.part4_1 {
                                top: 50%;
                            }
                        }
                        > .footer {
                            position: sticky;
                            width: 100%;
                            padding-inline: 1rem;
                            padding-bottom: 0.5rem;
                            left: 0;
                            height: max-content;
                            display: flex;
                            flex-direction: row;
                            justify-content: start;
                            margin: 0;
                            top: 100%;
                            z-index: 2;
                            gap: 1rem;
                            pointer-events: all;
                            > button {
                                width: max-content;
                                padding: 0.1rem;
                                &:hover {
                                    text-decoration: underline;
                                    text-decoration-thickness: 1px;
                                }
                                > span {
                                    font-size: 1.2rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}