@use '../../../themes/theme1/main' as Tmain;
@use '../../../general/main' as Gmain;
@use '../../../themes/theme1/vars';
@use '../../../../../../Splint/scss/tools/tools' as S_tools;
@mixin ProjectCategoryMenu-mobile(){
    .ProjectCategoryMenu {
        height: 100%;
        max-height: 100vh;
        padding-top: 0rem !important;
        padding-bottom: 0.2rem !important;
        padding-left: 1.5rem;
        overflow: visible;
        transition: all 0.2s ease-in 0.2s;
        background-color: transparent;
        &[isHidden*='true']{
            max-height: 0px;
            padding-top: 0px !important;
            padding-bottom: 0px !important;
        }
        .S-Nesting {
            
            .I_expander {
                // border-left: 1px solid black;
                // border-bottom: 1px solid black;
                box-sizing: border-box;
                position: relative;
                height: 100%;
                max-height: 100vh;
                // left: 0.5rem;
                padding-left: 1rem;
                width: calc(100% - 0em);
                // background-color: red;
                // @include border();
                transition: all 0.5s ease-in;
                    background-color: transparent;
                &[state *= 'passive'] {
                    > .I_expander {
                        max-height: 0px;
                    }
                }
                &[state *= 'active']{
                    > .I_expander {
                        // height: 100px;
                    }
                    &.extensible {
                        > .I_headBody{
                            > .I_header {
                                &::before {
                                    transform: translate(-180%, calc(-50% + 6px)) rotate(90deg);
                                }
                            }
                        }
                    }
                }
                &[connected *= 'true']{
                    > .I_headBody {
                        // height: 1.6em !important;
                        > .I_header{
                            // border-bottom-color: black;
                            // padding-right: 2.5rem;
                            // width: 150%;
                        }
                    }
                    // background-color: $color-primary;
                }
                &.extensible {
                    > .I_headBody {
                        > .I_header {
                            &::before{
                                content: '';
                                transition: transform 0.2s ease;;
                                transform: translateX(-180%);
                                border-left: 5px solid #000000;
                                border-top: 5px solid transparent;
                                border-bottom: 5px solid transparent;
                            }
                            > span {
                                // text-decoration: underline;
                            }
                        }
                    }
                }
                &:not(.extensible) {
                    > .I_headBody {
                        > .I_header {
                            &::before{
                                content: '';
                                border-radius: 50%;
                                transform: translateX(-180%);
                                border: 4px solid #000000;
                                // border-left: 8px solid transparent;
                                // border-right: 8px solid transparent;
                            }
                        }
                    }
                }

                .I_headBody {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    font-size: 1rem;
                    height: 1.6em;
                    // @include Gmain.box-shadow(0, black, 0.6);
                    // -ms-transform: skewX(-20deg); /* IE 9 */
                    // -webkit-transform: skewX(-20deg); /* Safari */
                    // transform: skewX(-20deg);
                    > * {
                        
                        // -ms-transform: skewX(20deg); /* IE 9 */
                        // -webkit-transform: skewX(20deg); /* Safari */
                        // transform: skewX(20deg);
                    }
                    &:hover {
                        > .I_header{
                            // font-weight: bold;
                            padding-right: 6rem;
                            width: 200%;
                            // @include S_tools.SPLINT-border-inset(rgba(0, 0, 0, 0.174), 1px, false, false, true, false);
                        }
                    }
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    font-size: 1rem;
                    margin-bottom: 0.5em;
                    height: 1.4em;
                    cursor: pointer;
                    > .I_inputBody{
                        position: relative;
                        left: 1em;
                        height: 1.2em;
                        background-color: vars.$color-devider;
                        // width: 5rem;
                        font-size: 1rem;
                        >.n_inputDiv {
                            margin: 0;
                            height: 1.2em;
                            >.inputBody{
                                height: 100%;
                                >input {
                                    font-size: 0.8rem;
                                    padding: 0em;
                                    padding-left: 0.2em;
                                    &:valid, &:focus {
                                        outline: 0;
                                        // border-bottom-color: $c-active;
                                        +label span {
                                            // color: $c-active;
                                            visibility: hidden;
                                            // font-size: 0.8em;
                                            transform: none;
                            
                                        }
                                    }
                                }
                                > label {
                                    font-size: 0.8rem;
                                    left: 0.2em;
                                    top: 0.15em;
                                    color: black;
                                    > span {
                                        color: black;

                                    }
                                }
                            }
                        }
                    }
                    > .I_header {
                        &::before{
                        // content:"";
                        //     transform: translateY(-50%) translateX(-50% );
                        //     width:8px;
                        //     height:8px;
                        //     // border-radius:50%;
                        //     background: black;
                        //     display:inline-block;
                        //     margin-right: 0.1em;
                        }
                        transition: width 0.8s, padding-right 0.2s;
                        padding-right: 0.5rem;
                        border-bottom: 1px solid black;
                        // @include SPLINT-border-inset(black, 1px, false, false, true, false);
                            // @include S_tools.SPLINT-border-inset(rgb(0, 0, 0), 1px, false, false, true, false);
                        min-width: fit-content;
                        height: 100%;
                        box-shadow: none;
                        max-width: 80%;
                        width: 20%;
                        display: flex;
                        // justify-content: center;
                        align-items: center;
                        &[state *= 'active']{
                            + .I_headButtons {
                                display: none;
                            }
                            > span {
                                height: 0;
                                width: 0;
                                font-size: 0;
                                display: none;
                            }
                        }&[state *= 'active']{
                + .I_headButtons {
                    display: none;
                }
                > span {
                    height: 0;
                    width: 0;
                    font-size: 0;
                    display: none;
                }
            }
            > span {
                cursor: pointer;
            }
                        > span {
                            cursor: pointer;
                        }
                        > .I_editInputDiv{
                            box-sizing: border-box;
                            width: 100%;
                            margin: 0;
                            height: 1.2em;
                            >.inputBody{
                                height: 100%;
                                >input {
                                    font-size: 0.8em;
                                    padding: 0em;
                                    padding-left: 0.2em;
                                    &:valid, &:focus {
                                        outline: 0;
                                        // border-bottom-color: $c-active;
                                        +label span {
                                            // color: $c-active;
                                            visibility: hidden;
                                            // font-size: 0.8em;
                                            transform: none;
                            
                                        }
                                    }
                                }
                                > label {
                                    font-size: 0.8em;
                                    left: 0.2em;
                                    top: 0.15em;
                                    color: black;
                                    > span {
                                        color: black;

                                    }
                                }
                            }
                        }
                    }
                    > .I_headButtons {
                        position: absolute;
                        visibility: hidden;
                        height: min-content;
                        box-sizing: border-box;
                        // @include SPLINT-border-inset();
                        right: 30%;
                        width: 0;
                        z-index: 1;
                        // right: 50%;
                        display: flex;
                        > button {
                            display: block;
                            > span {
                                font-size: 1.1em;

                            }
                        }
                    }
                }
                > .sign {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    font-size: .8rem;
                    height: 1rem;
                    width: 2rem;
                    position: absolute;
                    right: 0;
                    top: 0.2rem;
                    display: flex;
                    align-items: end;
                }
            }
            > .I_expander{ 
                padding-left: 0.1em;
                background-color: vars.$NEW-color-container-background;
            }
        }
    }
}