

@use '../../../general/main' as Gmain;
@use '../../../themes/theme1/main' as Tmain;
@use '../../../themes/theme1/vars';
$color-project-hover         : rgba(64, 64, 64, 0.219);

@mixin ProjectList-mobile(){
    > .ProjectListMain {     
        position: relative;
        width: 100%;
        height: max-content;
        display: flex;
        // z-index: 1;   
        flex-direction: column;
        // box-sizing: co-box;
        overflow: visible;
        &[id*='CART']{
            height: max-content;
            > .TableMain{
                > .ListMain {
                    overflow: hidden;
                    overflow-x: auto;
                }
            }
        }
        > .TopMain{
            position: relative;
            width: 100%;
            height: max-content;
            background-color: vars.$color-background;
            > .headline_TopMain {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                padding-top: 0.75rem;
                padding-bottom: 0.5rem;
                > span {
                    font-size: 1.75rem;
                    font-weight: 500;
                }
            }
            > .expander_container {
                position: relative;
                width: 100%;
                height: 100%;
                min-height: 5rem;
                max-height: max-content;
                display: flex;
                flex-direction: column;

                > .expander_content {
                    position: relative;
                    width: 100%;
                    height: max-content;
                    min-height: 1rem;
                    max-height: 4rem;
                    overflow: hidden;
                    transition: max-height 0.4s ease-in-out;

                    padding: 0.5rem;
                    padding-bottom: 0;
                    box-sizing: border-box;
                    > p {
                        
                        text-align: center
                    }
                }
                > .ShadowDiv {
                    position: relative; 
                    background: linear-gradient(0deg, vars.$color-background 40%, rgba(255, 255, 255, 0) 100%);
                    // background-color: rgba(255, 0, 0, 0.395);
                    transform: scaleY(2) translateY(-25%);
                    > button {
                        @include Tmain.TButton_secondary();
                        transform: scaleY(0.5) translateY(50%);
                        position: relative;
                        height: max-content;
                        width: 100%;
                        border: none;
                        border-radius: 0px;
                        // background-color: red;
                        > span {
                            &:after {
                                font-size: 0.7rem;
                                content: '\25bc';
                                padding-left: 1rem;
                            }
                            &:before {
                                font-size: 0.7rem;
                                content: '\25bc';
                                padding-right: 1rem;
                            }
                            // @include Tmain.PseudoArrow-left();
                            // @include Tmain.PseudoArrow-left();
                            color: vars.$NEW-color-text-secondary !important;
    
                        }
                    }
                }
                &[state*='active']{
                    > .ShadowDiv {
                        background: transparent;
                        > button {
                            > span {
                                &:after {
                                    font-size: 0.7rem;
                                    content: '\25b2';
                                    padding-left: 1rem;
                                }
                                &:before {
                                    font-size: 0.7rem;
                                    content: '\25b2';
                                    padding-right: 1rem;
                                }
                            }
                        }
                    }
                    > .expander_content {
                        max-height: 50rem;
                        transition: max-height 0.4s ease-in;

                    }
                }
            }
        }
        > hr {
            width: 96%;
            margin-inline: 2%;
            left: 0;
        }
        > .TableMain {
            position: relative;
            width: 100%;
            height: max-content;
            // height: 100%;
            overflow: hidden;
            margin-inline: 0;
            box-sizing: border-box;
            // border: 1px solid red;
            >.ListMain {
                width: 100%;
                box-sizing: border-box;
                position: relative;
                display: grid;
                grid-auto-flow: row dense;
                grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
                justify-content: center;
                align-content: start;
                overflow: visible;


                @include ProjectListElement();
                // > .linkImprint {
                //     position: sticky;
                //     background-color: red;
                //     height: max-content;
                //     width: max-content;
                //     right: 0;
                //     bottom: 0;
                //     margin-top: auto;
                //     margin-left: auto;

                // }
                // &::-webkit-scrollbar {
                //     display: none;
                // }
                  
                // /* Track */
                // &::-webkit-scrollbar-track {
                //     display: none;
                // }
                
                // /* Handle */
                // &::-webkit-scrollbar-thumb {
                //     display: none;
                // }
                 
                // /* Handle on hover */
                // &::-webkit-scrollbar-thumb:hover {
                //     display: none;
                // }
            }
        }
        > [id*='head'] {
            position: relative;
            display: none;
            > div {
                position: relative;
                left: calc(0.6em + 1%);
                > span {

                }
            }
            > hr {
                margin: 0;
            }
        }
        > .emptyBody {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            height: max-content;
            width: max-content;

            max-width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 5rem;
            // just
            > .headline {
                width: max-content;
                box-shadow: none;
                border-radius: 0;
                background-color: transparent;
                > span {
                    font-weight: 300;
                    font-size: 3rem;
                }
            }
            > button {
                > span {
                    font-size: 10rem;;
                }
            }
        }
    }
}

@mixin ProjectListElement(){
    >.ListElement {
        position: relative;
        // background-color: white;
        aspect-ratio: vars.$LIGHTER-ratio;
        // width: 100%;
        // max-width: 30%;
        // min-width: 8em;
        // flex: 1 1 20%;
        @include Tmain.TContainer_basic();
        padding:    0em;
        margin:     0em;
        height: max-content;
        background-color: transparent;
        box-shadow: none;
        overflow: visible;
        cursor: pointer;
        box-sizing: border-box;
        // &[showDetails='true']{
        //     > .container{
        //         > .Lighter3D {
        //             position: absolute;
        //             width: 100vw;
        //             left: 0vw;
        //             > canvas {
        //                 position: fixed;
        //                 left: 0;
        //                 // transform: translateX();
        //             }
        //         }
        //     }
        // }
        // transition: box-shadow 0.5s ease-out;//, background-color 0.1s ease-in;
        opacity: 0;
        transition: opacity 0.2s ease;
        &[loaded='true']{
            opacity: 1;
        }
        > .container {
            position: relative;
            width: 100%;
            height: 100%;
            cursor: pointer;
            box-sizing: border-box !important;
            >.Lighter3D {
                cursor: pointer;
                // box-sizing: border-box;
                position: relative;
                width: 100%;
                height: 100%;
                overflow: visible;
                box-sizing: content-box !important;
                transform: translateY(-10%);
                user-select: none;
                pointer-events: none;
                > canvas {
                    position: relative;
                    user-select: none;
                    pointer-events: none;
                    // transform: scale(1.1);
                    cursor: pointer;
                    box-sizing: content-box !important;
                    overflow: visible;
                }
            }
            > .buttonDiv {
                position: absolute;
                // background-color: red;
                bottom: 0;
                width: 100%;
                height: max-content;
                display: flex;
                justify-content: space-around;
                gap: 0.5rem;
                align-items: center;
                opacity: 0;
                transition: opacity 0.2s;
                > button {
                    width: 100%;
                    background-color: vars.$color-header;
                    padding: 0.3rem;
                    > span {
                        font-size: 2rem;
                    }
                    &:hover {
                        // @include box-shadow();
                        // background-color: $color-primary-Dark;
                    }
                }
            }
        }
        &.First {
            // flex-grow: 1;
            aspect-ratio: vars.$LIGHTER-ratio;
            position: relative;
            // height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            > button {
                width: 100%;
                height: 100%;
                > span {
                    font-size: 10vmin;
                } 
            }
        }
        &:hover {
            @include Gmain.box-shadow(1, rgb(14, 13, 13), 0.7);
            // box-shadow:inset 0px 0px 0px 1px rgb(0, 0, 0);
            // background-color: white;
            // background-color: rgba(255, 255, 255, 0.066);
            > .container {
                > .buttonDiv {
                    opacity: 1;
                }
                > .Lighter3D {
                    transform: translateY(-10%);
                }
            }
        }
        >.ListElementHover {
            height: 0 !important;
            display: none !important;
            background-color: $color-project-hover;
            opacity: 0;
            transition: opacity 0.2s;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 4em;
            > button {

                > span {
                    font-size: 4em;
                }
            }
        }
        // &[state*='active']{
        //     background-color: red;
        //     transform: translateX(50vw);
        // }
    }  
}