@use '../../../../general/main' as Gmain;
@use '../../../../themes/theme1/main' as Tmain;
@use '../../../../themes/theme1/buttons' as Tbuttons;
@use '../../../../themes/theme1/vars';
@use '../../../../general/buttons';
// @import '../../../../general/NavigationBar.scss';

@use 'floatingDiv';
@use 'image';
@use 'text';


@mixin conv_BottomBar(){
    
    > .converter-bottom-bar {

        position: relative;
        margin: 0;
        margin: 0.5rem;
        width: calc(100% - 1rem);
        height: max-content;
        // margin-bottom: 0.5rem;
        max-height: 10%;
        // left: 2%;
        overflow: visible;
        box-sizing: content-box;
        order: 2;
        font-size: min(4vw, 1rem);
        > .conv_BottomBar_Main {
            width: 100%;
            box-sizing: content-box;
            height: 100%;
            max-height: 10rem;
            // overflow: hidden;
            > .conv_bottom_bar_std {
                // @include Tmain.T_container();
                        @include Tmain.T_container();
                width: calc(100%);
                position: relative;
                height: 100%;
                display: flex;
                // justify-content: stretch;
                // gap: 1rem;
                padding: 0.25em;
                gap: 1rem;

                // border-radius: vars.$border-radius;
                // @include Gmain.box-shadow();
                // align-items: stretch;
                justify-content: stretch;
                justify-items: stretch;
                box-sizing: border-box;
                > input {
                    display: none;
                }
                > button {
                    // @include Tbuttons.T_button_Animated(false, false);
                    overflow: visible;
                    box-sizing: border-box;
                    padding: 0.5rem;
                    user-select: none;
                    // aspect-ratio: 1/1;
                    height: 100%;
                    &:not(.button_NewText):not(.AddElement){
                        aspect-ratio: 1/1;
                    }
                    background-color: transparent;
                    &[state*='active'] {
                        background-color: red;
                    }
                    > span {
                        font-size: 6rem;
                        margin: -0.05em;  
                        // white-space: nowrap;
                        &.description {
                            // display: none;
                            margin: -0.05em;  
                            margin-bottom: -0.1em;  
                            margin-top: 0.1em;
                            font-size: 1.8rem;
                        }
                    }
                    &.buy {
                        display: none;
                        position: relative;
                        cursor: pointer;
                        @include Tmain.T_container();
                        border: none;
                        margin: 1em;
                        user-select: auto;
                        pointer-events: auto;
                        > span {
                            user-select: auto;
                            pointer-events: auto;
                            font-size: 2em;
                        }
                    }
                    display: block;
                    @include floatingDiv.conv_floatingDiv_aligned();
                    @include floatingDiv.conv_floatingDiv_block();
                    &.AddElement {
                        flex: 1;
                        > div {
                            width: calc(100vw - 1em) !important;
                            margin-bottom: 0.5em;
                            > div {
                                width: 100%;
                                display: flex !important;
                                flex-direction: row !important;
                                flex-wrap: nowrap !important;
                                justify-content: space-between;
                                > input {
                                    display : none;
                                }
                                > button {
                                    // margin-inline-start: 0;
                                    // margin-inline-end: 0;
                                    margin-inline: 0.5em;
                                    padding: 0.5em;
                                    
                                    text-decoration: none;
                                    > span {
                                        text-decoration: none;
                                        // background-color: red !important;
                                        &.text {
                                            text-decoration: none;
                                            font-size: 0.75em;
                                            // background-color: red !important;

                                        }
                                    }

                                }
                            }
                        }
                    }
                    &.button_NewText {
                        
                        flex: 1;
                    }
                    &.finish {
                        &[state*='active'] {
                            background-color: red;
                            > div {
                                transform: translateX(0%);
                            }
                        }
                        > div {
                            // transform: translateX(80%);
                            transition: transform 0.3s ease 2s;
                            > div {
                                > .content {
                                    display: flex;
                                    flex-direction: row;
                                    box-shadow: none;
                                    justify-content: right;
                                    border-radius: 0;
                                    gap: 2rem;
                                    > .toCart {
                                        @include Tmain.T_container();
                                        @include Tmain.clipEdgesAll(5px);
                                        > button {
                                            > span {
                                                font-size: 7rem;

                                            }
                                        }
                                    }
                                    > .buy {
                                        @include Tmain.T_container();
                                        @include Tmain.clipEdgesAll(5px);
                                        > button {
                                            display: flex;
                                            flex-direction: row;

                                            > span {
                                                font-size: 6rem;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        
                        // flex: 1 1;
                        // width: min-content;
                        // max-width: 200px;
                        // height: auto;
                    }
                    > div[name*='buttons_EP'] {
                        width: calc(100vw - 1em) !important;
                        margin-bottom: 0.5em;
                        > div {
                            width: 100%;
                            display: flex !important;
                            flex-direction: row !important;
                            flex-wrap: nowrap !important;
                            justify-content: space-evenly;
                            > button {
                                margin-inline: 0.5em;
                                padding: 0.5em;
                                &[state*='active']{
                                    background-color: vars.$color-primary;
                                }

                                // width: 10%;
                                > span {
                                    font-size: 2rem!important;
                                }
                            }
                        }
                    }
                }
                > .close_buttons_container{
                    position: fixed;
                    // margin: 2em;
                    // padding: 2em;
                    height: 0;
                    width: 0;
                    background-color: red !important;

                    overflow: visible;
                    display: flex;
                    box-sizing: content-box;
                    > .content {
                        // max-height: 100%;
                        position: fixed;
                        // margin: 2em;
                        // padding: 2em;
                        height: 4.6em;
                        right: 0.2em;
                        bottom: 0.2em;
                        width: 20vw;
                        // width: 35vw;
                        @include Tmain.T_container();
                        @include Gmain.box-shadow(0, rgb(82, 82, 82), 0.7);
                        padding: 0;
    
                        overflow: hidden;
                        display: flex;
                        box-sizing: content-box;
                        > button {
                            overflow: visible;
                            box-sizing: border-box;
                            padding-inline: 0.1em;

                            height: 100%;
                            > span {
                                font-size: 3em;  
                            }
                            &.toCart {
                                // margin: 0.5em;
                                aspect-ratio: 1/1;
                                display: none;
    
                            }
                            &.buy {
                                // background-color: red;
                                // white-space: nowrap;
                                // height: calc(100% + 10em);
                                display: flex;
                                flex-direction: column;
                                overflow: hidden;
                                align-content: space-evenly;
                                justify-content: center;
                                aspect-ratio: 1/1;
                                height: 100%;
                                width: max(100%, 2.6em);
                                // width: max(100%, 4.6em);
                                margin: 0;
                                padding: 0;
                                text-align: center;
                                background-color: vars.$color-primary;
                                > span {
                                    height: max-content;
                                    width: 100%;
                                    font-size: 1em;  
                                }
                                // word-wrap: no;
                            }
                        }
                    }
                }
                
            }        
            &[name*='image']{
                // background-color: transparent;
                border-radius: 0px 0px;
                box-shadow: none;
                box-sizing: border-box;
                @include image.conv_bottomBar_image();
            }   
            &[name*='text']{
                background-color: transparent;
                border-radius: 0px 0px;
                box-shadow: none;
                box-sizing: border-box;
                @include text.conv_bottomBar_text();
            }

        }
    }
}