@use '../../../../general/main' as Gmain;
@use '../../../../themes/theme1/main' as Tmain;
@use '../../../../themes/theme1/buttons' as Tbuttons;
@use '../../../../themes/theme1/vars';
@use '../../../../general/buttons';

@use 'floatingDiv';
@use 'image';
@use 'text';
@use 'sass:color';


@mixin conv_BottomBar(){
    > .converter-bottom-bar {
        position: relative;
        flex: 1;
        margin: 1rem;
        margin-bottom: 0.25rem;
        margin-inline: 0rem;
        width: calc(100%);
        height: auto;
        max-height: 100%;
        overflow: visible;
        box-sizing: content-box;
        display: flex;
        flex-direction: column;
        justify-content: end;
        order: 2;
        z-index: 1000;
        font-size: min(4vw, 1rem);
        > .conv_BottomBar_Main {
            width: 100%;
            box-sizing: content-box;
            height: 100%;
            max-height: 5rem;
            background-color: transparent;
            border-radius: 0px;
            padding-inline: 0.25rem;
            > .conv_bottom_bar_std {
                @include Tmain.TContainer_basic();
                // @include TC
                // background-color: vars.$color-T_container;
                // box-shadow: none;
            padding: 0rem;

                width: calc(100% - 0.5rem);
                position: relative;
                height: 100%;
                display: flex;
                flex-direction: row;

                gap: 0rem;
                justify-content: space-around;
                justify-items: stretch;
                align-items: stretch;
                box-sizing: border-box;
                > input {
                    display: none;
                }
                > button {
                    @include Tmain.TButton_primary();
                    overflow: visible;
                    box-sizing: border-box;
                    // padding: 0rem;
                    padding-top: 0.75rem;
                    padding-bottom: 0.75rem;
                    user-select: none;
                    width: 20% !important;
                    // &:not(.button_NewText):not(.AddElement){
                    //     aspect-ratio: 1/1;
                    // }
                    background-color: transparent;
                    &[state*='active'] {
                        background-color: vars.$color-T_container;
                    }
                    > span {
                        color: vars.$color-primary-text;
                        font-size: 2.3rem;
                        margin: -0.05rem;  
                        &.description {
                            margin: -0.05rem;  
                            margin-bottom: -0.1rem;  
                            margin-top: 0.1rem;
                            font-size: 0.5rem;
                        }
                    }
                    &.buy {
                        display: none;
                        position: relative;
                        cursor: pointer;
                        @include Tmain.TContainer_basic();
                        border: none;
                        margin: 0em;
                        user-select: auto;
                        pointer-events: auto;
                        > span {
                            user-select: auto;
                            pointer-events: auto;
                            font-size: 1em;
                        }
                    }
                    display: block;
                    @include floatingDiv.conv_floatingDiv_aligned();
                    @include floatingDiv.conv_floatingDiv_block();
                    &.AddElement {
                        // flex: 1;
                        > div {
                            // width: calc(100vw) !important;
                            margin-bottom: 0.5em;
                            > div {
                                width: 100%;
                                display: flex !important;
                                flex-direction: row !important;
                                flex-wrap: nowrap !important;
                                justify-content: space-between;
                                > input {
                                    display : none;
                                }
                                > button {
                                    margin-inline: 0.5rem;
                                    padding: 0.5rem;
                                    
                                    text-decoration: none;
                                    > span {
                                        text-decoration: none;
                                        &.text {
                                            text-decoration: none;
                                            font-size: 1rem;
                                        }
                                    }

                                }
                            }
                        }
                    }
                    &.button_NewText {
                        // flex: 1;
                    }
                    &.Color {
                        >.block {
                            position: absolute;
                            box-sizing: border-box;
                            // transform: translateX(-50%);
                            width: 100vw !important;
                            margin-bottom: 0.5em;
                            padding: 0;
                            left: -0.25rem;
                            overflow-x: auto !important;
                                    
                            &::-webkit-scrollbar {
                                display: none;
                                width: 0;
                            }
                            > div {
                                width: max-content;
                                display: flex !important;
                                flex-direction: row !important;
                                flex-wrap: nowrap !important;
                                justify-content: space-between;
                                height: 4.7rem !important;
                                align-items: end;
                                > button {
                                    display: flex;
                                    flex-direction: column;
                                    height: 60% !important;
                                    max-height: 60% !important;
                                    aspect-ratio: 2/1;
                                    // height: 100% !important;
                                    // width: 100% !important;
                                    overflow: visible;
                                    justify-content: center;
                                    align-items: center;
                                    > span {
                                        display: inline-flex;
                                        align-items: center;
                                        justify-content: center;
                                        margin: 0;
                                        position: absolute !important;
                                        top: -100%;
                                        width: 100%;
                                        height: 100%;
                                        // color: white;
                                        font-size: 1.2rem;
                                        text-align: center;
                                        vertical-align: baseline;
                                        transform: scaleY(0.8) translateY(0.9rem);
                                    }
                                }
                            }
                        }
                        > span {

                        }
                    }
                    &.finish {
                        &[state*='active'] {
                            background-color: vars.$NEW-color-primary-active;
                            > div {
                                transform: translateX(0%);
                                // height: 3rem;
                                // padding: 0.5rem;
                                padding: 0.5rem;
                            }
                        }
                        > div {
                            transition: transform 0.3s ease 2s;
                            > div {
                                > .content {
                                    display: flex;
                                    flex-direction: row;
                                    box-shadow: none;
                                    justify-content: right;
                                    border-radius: 0;
                                    gap: 1rem;
                                    > .toCart {
                                        > button {
                                            @include Tmain.TButton_secondary();
                                            padding: 1rem;
                                            > span {
                                                font-size: 1.5rem;
                                            }
                                        }
                                    }
                                    > .buy {
                                        > button {
                                            @include Tmain.TButton_primary();
                                            display: flex;
                                            flex-direction: row;
                                            justify-content: center;
                                            align-items: center;
                                            flex-wrap: nowrap;
                                            padding: 1rem;
                                            > span {
                                                font-size: 1.2rem;
                                                &:first-of-type {
                                                    margin-right: 0.2em;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                > .close_buttons_container{
                    position: fixed;
                    height: 0;
                    width: 0;
                    background-color: red !important;
                    overflow: visible;
                    display: flex;
                    box-sizing: content-box;
                    > .content {
                        position: fixed;
                        height: 4.6em;
                        right: 0.2em;
                        bottom: 0.2em;
                        width: 20vw;
                        @include Tmain.TContainer_basic();
                        @include Gmain.box-shadow(0, rgb(82, 82, 82), 0.7);
                        padding: 0;
                        overflow: hidden;
                        display: flex;
                        box-sizing: content-box;
                        > button {
                            overflow: visible;
                            box-sizing: border-box;
                            padding-inline: 0.1em;

                            height: 100%;
                            > span {
                                font-size: 2em;  
                            }
                            &.toCart {
                                aspect-ratio: 1/1;
                                display: none;
    
                            }
                            &.buy {
                                display: flex;
                                flex-direction: column;
                                overflow: hidden;
                                align-content: space-evenly;
                                justify-content: center;
                                aspect-ratio: 1/1;
                                height: 100%;
                                width: max(100%, 2.6em);
                                margin: 0;
                                padding: 0;
                                text-align: center;
                                background-color: vars.$color-primary;
                                > span {
                                    height: max-content;
                                    width: 100%;
                                    font-size: 1em;  
                                }
                            }
                        }
                    }
                }
            }        
            &[name*='image']{
                border-radius: 0px 0px;
                box-shadow: none;
                box-sizing: border-box;
                position: relative;
                @include image.conv_bottomBar_image();
            }   
            &[name*='text']{
                background-color: transparent;
                border-radius: 0px 0px;
                box-shadow: none;
                box-sizing: border-box;
                position: relative;
                @include text.conv_bottomBar_text();
            }
        }
    }
}