
@use 'elements/LeftBar';
@use '../../general/main';
@use '../../themes/theme1/vars';
@use '../../themes/theme1/main' as Tmain;
@use "../../../../../Splint/scss/tools/tools" as S_tools;
@use '../../general/buttons.scss';
@use '../../general/NavigationBar/NavigationBar.scss';
@use '../../general/Footer/FooterMobile.scss';
@use '../../general/Footer/FooterDesktop.scss';
@use '../converterStart/projectDetails';
@use 'toolBar/converterToolBar';
@use 'elements/EditorFrame';
@use 'elements/EditorFrameMobile';
@use 'elements/_RightBar.scss';
@use 'toolBar/bottomBar/BottomBar';
@use '../../general/mediaQueries';
@use '../../imageMenu/imageMenu';


 
.NavigationBar {
    &.ADMINPLUS {
        > .content {
            display: flex;
            justify-content: right;
            > div {
                display: flex;
                flex-direction: column;
                > .label {
                    width: 100%;
                    > .span {
                        width: 100%;
                    }
                }
                > .inputContainer {
                    width: 100%;
                    // > label {

                    // }
                    > .AmountDiv {
                        margin-inline: 0.5em;
                        > button {
                            // > span {

                            // }
                        }
                        > div {
                            width: 5em;
                            margin-inline: 0.5em;
                            // > input {

                            // }
                        }
                    }
                }
            }
            > .sizing_Container {
                background-color: red;
            }
            > .X0_Container {
                background-color: blue;
            }
        }
    }
}
.Converter3D {
    position: absolute;
    background-color: white;
    width: 500px;
    height: 750px;
    left: 100px;
    top: 100px; 
    @include main.border();   
} 
body {
    position: absolute; 
    touch-action: pan-x pan-y !important;
    margin: 0 !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh !important;
    padding-top: 0;
    overflow: hidden;
    > .Background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: vars.$color-background-subWindow;
        opacity: 0;
        transition: opacity 0.3s ease;
        z-index: 1000;
        &.start {
            opacity: 1;
        }
    }
    > .subWindow_MAIN {
        z-index: 1101;
        > .content {
            z-index: 1101;
        }
    }
  
}

@include mediaQueries.forMediaBreakpoint(mobile-small){
    @include FooterMobile.FooterMobile();
    .editText_mobile {
        z-index: 1001 !important;
        > .background {
            background-color: rgba(21, 21, 21, 0.961) !important;
            z-index: 1001 !important;
        }
        > .content {
            margin-top: -10vh !important;
            margin-bottom: 20vh !important;
            background-color: transparent;
            box-shadow: none;
            display: flex;
            width: 100%!important;
            max-width: 100%!important;
            flex-direction: column;
            min-height: 30% !important;
            max-height: 70% !important;
            height: fit-content !important;
            flex-wrap: nowrap;
            align-items: start;
            box-sizing: border-box;
            padding: 0;
            > button {
                top: 80% !important;
                left: 85% !important;
                height: auto !important;
                width: auto !important;
                > span {
                    font-size: 2rem !important;
                    color: white;
                }
            }
            > .headline {
                width: 100%;
                background-color: transparent;
                display: flex;
                flex-direction: row;
                justify-content: center;
                > span {
                    color: white;
                    font-size: 1.5rem;
                }
            }
            > .TextInputDiv {
                box-sizing: border-box;
                width: 100% !important;
                height: max-content;
                margin: 0;
                margin-top: 10vh;
                margin-bottom: 10vh;
                background-color: transparent;
                caret-color: white !important;
                > label {
                    display: none;
                }
                > textarea {
                    padding: 0;
                    white-space: nowrap !important;
                    background-color: transparent;
                    box-sizing: border-box;
                    overflow: auto;
                    user-select: text !important;
                    pointer-events: all !important;
                    border: none;
                    text-align: center;
                    font-size: 2rem;
                    color: white;
                    caret-color: white!important;
                }
                hr {
                    display: none;
                }
            }
        }
    }
}

@include mediaQueries.forMediaBreakpoint(desktop mobile){
    @include FooterDesktop.FooterDesktop();
    .Background3D {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%; 
        pointer-events: all;
        background-color: transparent;
        > canvas { 
            background-color: transparent;
        }
    }
    .Conv_MAIN {
        scroll-snap-align: start;
        position: absolute;
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: transparent;
        flex-direction: row; 
        margin-left: auto;
        margin-right: auto;
        padding-top: 2vh;
        bottom: 0;
        box-sizing: border-box;
        overflow: hidden !important;
        > div {
            margin-inline: 1%;
            overflow-x: visible;
        }
        @include LeftBar.conv_LeftBar();
        @include EditorFrame.conv_EditorFrame();
        @include RightBar.conv_RightBar();
        
        > .FooterBTContainer {
            z-index: 1001;
            position: absolute;
            height: max-content;
            left: 0;

            bottom: 1vh;
            width: 100px;

            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            gap: 1rem;
            > button {
                > span {
                    color: gray;
                }
            }
            > .BTContact {

            }
            > .BTImprint {
                
            }
        }
    
      }
}

@include mediaQueries.forMediaBreakpoint(mobile-small){
    body {
        height: 100dvh !important;
        overflow:  hidden !important;
    }
    .Background3D {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%; 
        pointer-events: all;
        background-color: transparent;

        > canvas { 
            background-color: transparent;
        }
    }
    .Conv_MAIN {
        scroll-margin-top: calc(7vh);
        scroll-snap-align: start;
        position: relative;
        width: 100vw;
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        top: 6%;
        height: calc(100dvh - calc(6vh + 1rem));
        overflow: hidden !important;
        @include EditorFrameMobile.conv_EditorFrame_mobile();
        > .Conv_RightBar {
            display: none !important;
        }
        > .leftBar {
            display: none !important;
        } 
        @include BottomBar.conv_BottomBar();
      }
      .FooterBody {
        position: relative;
        width: 100%;
        height: 1rem;
        background-color: vars.$color-Footer-Converter-mobile;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        > .BTContainer {
            position: relative;
            width: 80%;
            // padding-top: 1rem;
            // padding-bottom: 1rem;
            padding: 0;
            height: 100%;
            display: flex;
            gap: 2rem;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            > button {
                position: relative;
                height: max-content;
                width: max-content;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                > span {
                    position: relative;
                    height: max-content;
                    text-decoration: none;
                    // text-decoration-thickness: 1.5px;
                    font-size: 0.8rem;
                }
            }
        }
        > hr {
            display: none;
        }
        > .PayingMethodsContainer {
            display: none;
        }
    }
}

.SubWindow_FontFamily {

    > .content {
        > .TableMain {
            > .ListMain {
                display: flex;
                flex-direction: column;
                > .ListElement {
                    &:hover {
                        background-color: vars.$color-primary-light;
                    }
                    &[state*='active']{
                        background-color: vars.$color-primary;
                    }
                }
            }
        }
    }
}

.genFramePopup {
    > .content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: stretch;
        width: max-content;
        > * {
            padding: 0.5rem;
        }
        > div {
            flex-grow: 1;
            margin: 0.25rem;
            @include Tmain.TContainer_basic();
            display: flex;
            flex-direction: column;
            gap: 0.25rem;
            // width: 100%;
            > .label {
                font-size: 1.1rem;
                padding-bottom: 0rem;
            }
            > .inputContainer {
                // padding-bottom: 0.25rem;
            }
        }
        > .Intensity_Container {
            
            > .IntensityBtContainer {
                position: relative;
                overflow: hidden;
                box-sizing: border-box;
                width: 100%;
                > button {
                    position: relative;
                    box-sizing: border-box;
                    width: calc(100% - 1rem);
                    @include Tmain.TButton_simple();
                    background-color: vars.$color-T_container-Medium ;
                    @include S_tools.SPLINT-border-inset(red, 4px, false, false, true, false);
                    &[state*='active']{
                        @include S_tools.SPLINT-border-inset(rgb(0, 178, 0), 4px, false, false, true, false);
                    }
                    > span {
                        color: vars.$color-primary-text;
                    }
                }
            }
        }
        > .genFrameHeadContainer {
            gap: 0rem;
            > .headline {
                font-size: 1.5rem;
            }
            > .n_RadioButton {
                > div {
                    display: flex;
                    flex-direction: row;
                    > hr {
                        display: none;
                    }
                    > div {
                        cursor: pointer;
                        &[state*='active'] {
                            @include S_tools.SPLINT-border-inset(vars.$color-primary, 3px, false, false, true, false);
                        }
                        // > .inputBody {
                        //     display: none;
                        // }
                        > .labelDiv {
                            width: 100%;
                            > .name {
                                padding: 0.5rem;
                                display: flex;
                                flex-direction: row;
                                justify-content: start;
                            }
                        }
                    }
                }
            }
        }
        > .ContainerManagement {
            width: 100%;
            > .headline {
                font-size: 1.3rem;
            }
            > .TableMain {
                max-height: 20rem;
                > .ListMain {
                    flex-direction: column;
                    justify-content: start;
                    flex-wrap: nowrap;
                    overflow-x: hidden;
                    overflow-y: scroll;
                    > .ListElement {
                        border-bottom: 1px solid gray;
                        width: 100%;
                        display: flex;
                        height: 100%;
                        margin-top: 0;
                        margin-bottom: 0;
                        padding: 0.35rem;
                        flex-direction: row;
                        &[state*='active'] {
                            background-color: vars.$color-primary-light;
                        }
                        > div {
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                            width: 50%;
                            overflow: hidden;
                            height: 100%;
                            vertical-align: bottom;
                            line-height: 200%;
                            > span {
                                font-size: 1.1rem;
                                position: relative;
                                height: 100%;
                                width: 100%;
                            }
                        }
                        > button {
                            @include Tmain.TButton_simple();
                            padding: 0.25rem; 
                            margin-right: 3rem;
                            > span {
                                color: vars.$color-primary-text;
                            }
                        }
                    }
                }
            }
        }
        > .containerOther {
            > .n_RadioButton {
                > div {
                    display: flex;
                    flex-direction: row;
                    > hr {
                        display: none;
                    }
                    > div {
                        cursor: pointer;
                        &[state*='active'] {
                            @include S_tools.SPLINT-border-inset(vars.$color-primary, 3px, false, false, true, false);
                        }
                        > .inputBody {
                            // display: none;
                        }
                        > .labelDiv {
                            width: 100%;
                            > .name {
                                padding: 0.5rem;
                                display: flex;
                                flex-direction: row;
                                justify-content: stretch;
                            }
                        }
                    }
                }
            }
        }
        > .offsetFrameContainer {
            // width: 150%;
            // height: 150%;
            @include Tmain.TContainer_basic();
            > .buttonsContainer {
                position: relative;
                overflow: hidden;
                box-sizing: border-box;
                width: 100%;
                > button {
                    position: relative;
                    box-sizing: border-box;
                    width: calc(100% - 1rem);
                    @include Tmain.TButton_simple();
                    background-color: vars.$color-T_container-Medium ;
                    @include S_tools.SPLINT-border-inset(red, 4px, false, false, true, false);
                    &[state*='active']{
                        @include S_tools.SPLINT-border-inset(rgb(0, 178, 0), 4px, false, false, true, false);
                    }
                    > span {
                        color: vars.$color-primary-text;
                    }
                }
            }
            > .inputContainer {
                &[disabled*='true']{
                    pointer-events: none;
                    opacity: 0.5;
                }
            }
            .AmountDiv {
            }
        }
        > .buttonsContainer {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            width: 100%;
            justify-self: end;
            > button {
                @include Tmain.TButton_simple();
                background-color: vars.$color-primary;
                min-width: 20%;
                > span {
                    color: vars.$color-primary-text;
                }
            }
        }
        .AmountDiv {
            width: 100%;
            > div {
                width: 5rem;
            }
        }
    }
}