
@use 'elements/LeftBar';
@use '../../general/main';
@use '../../themes/theme1/vars';
@use '../../general/buttons.scss';
@use '../../general/NavigationBar/NavigationBar.scss';
@use '../../general/Footer/FooterMobile.scss';
@use '../../general/Footer/FooterDesktop.scss';
@use '../converterStart/projectDetails';
// @import '../designs/designs.scss';
@use 'toolBar/converterToolBar';
@use 'elements/EditorFrame';
@use 'elements/EditorFrameMobile';
@use 'elements/_RightBar.scss';
@use 'toolBar/bottomBar/BottomBar';
@use '../../general/mediaQueries';
// @use 'DOMConverter/DOMConverterMAIN';
// @use '../../productInformation/productInformation';
 
.NavigationBar {
    &.ADMINPLUS {
        > .content {
            display: flex;
            justify-content: right;
            > div {
                // width: 20em;
                display: flex;
                flex-direction: column;
                > .label {
                    width: 100%;
                    > .span {
                        width: 100%;
                    }

                }
                > .inputContainer {
                    width: 100%;
                    > label {

                    }
                    > .AmountDiv {
                        margin-inline: 0.5em;
                        > button {
                            > span {

                            }
                        }
                        > div {
                            width: 5em;
                            margin-inline: 0.5em;
                            > input {

                            }
                        }

                    }
                }
            }
            > .sizing_Container {
                background-color: red;
            }
            > .X0_Container {
                background-color: blue;

            }
        }
    }
}
//
.Converter3D {
    position: absolute;
    background-color: white;
    width: 500px;
    height: 750px;
    left: 100px;
    top: 100px; 
    @include main.border();   
} 
body {
    position: absolute; 
    margin: 0 !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 0;
    overflow: hidden;
    @include mediaQueries.forMediaBreakpoint(mobile){
        // background-color: red;
    }
    > .Background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: vars.$color-background-subWindow;
        opacity: 0;
        transition: opacity 0.3s ease;
        z-index: 1000;
        &.start {
            opacity: 1;
        }
    }
    > .subWindow_MAIN {
        z-index: 1101;
        > .content {
            z-index: 1101;
        }
    }
  
}

@include mediaQueries.forMediaBreakpoint(mobile-small){
    @include FooterMobile.FooterMobile();
    .editText_mobile {
        z-index: 1001 !important;
        > .background {
            background-color: rgba(21, 21, 21, 0.961) !important;
            z-index: 1001 !important;
        }
        > .content {
            margin-top: -10vh !important;
            margin-bottom: 20vh !important;
            background-color: transparent;
            box-shadow: none;
            display: flex;
            width: 100%!important;
            max-width: 100%!important;
            flex-direction: column;
            min-height: 30% !important;
            max-height: 70% !important;
            height: fit-content !important;
            // background-color: red !important;
            // justify-content: space-around;
            flex-wrap: nowrap;
            align-items: start;
            box-sizing: border-box;
            padding: 0;
            // @include SPLINT-border-inset();
            > button {
                // display: none !important;
                top: 80% !important;
                left: 85% !important;
                height: auto !important;
                width: auto !important;
                > span {
                    font-size: 8rem !important;
                    color: white;
                }
            }
            > .headline {
                width: 100%;
                background-color: transparent;
                display: flex;
                flex-direction: row;
                justify-content: center;
                > span {
                    color: white;
                    font-size: 5rem;
                }
            }
            > .TextInputDiv {
                box-sizing: border-box;
                width: 100% !important;
                height: max-content;
                margin: 0;
                margin-top: 10vh;
                margin-bottom: 10vh;
                background-color: transparent;
                caret-color: white !important;
                > label {
                    display: none;
                }
                > textarea {
                    padding: 0;
                    white-space: nowrap !important;
                    background-color: transparent;
                    box-sizing: border-box;
                    overflow: auto;
                    user-select: text !important;
                    pointer-events: all !important;
                    border: none;
                    text-align: center;
                    font-size: 4rem;
                    color: white;
                    caret-color: white!important;
                }
                hr {
                    display: none;
                }
            }
        }
    }
}

// canvas {
// //   image-rendering: -moz-crisp-edges;
// //   image-rendering: -webkit-crisp-edges;
// //   image-rendering: pixelated;
//   image-rendering: crisp-edges;
// }
@include mediaQueries.forMediaBreakpoint(desktop mobile){
    @include FooterDesktop.FooterDesktop();
    .Background3D {
        // z-index: 1000;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%; 
        pointer-events: all;
        background-color: transparent;

        > canvas { 
            background-color: transparent;
        }
    }
    .Conv_MAIN {
        scroll-snap-align: start;
        position: absolute;
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: transparent;
        // align-content: center;
        // gap: 1%;
        // align-items: stretch;
        flex-direction: row; 
        margin-left: auto;
        margin-right: auto;
        padding-top: 2vh;
        // width: 100%;
        bottom: 0;
        // height: 94vh;
        box-sizing: border-box;
        overflow: hidden !important;
        > div {
            margin-inline: 1%;
            overflow-x: visible;
        }
        @include LeftBar.conv_LeftBar();
        @include EditorFrame.conv_EditorFrame();
        @include RightBar.conv_RightBar();
    
      }
}

@include mediaQueries.forMediaBreakpoint(mobile-small){
    .Background3D {
        // z-index: 1000;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%; 
        pointer-events: all;
        background-color: transparent;

        > canvas { 
            background-color: transparent;
        }
    }
    .Conv_MAIN {
        scroll-margin-top: calc(7vh);
        scroll-snap-align: start;
        position: relative;
        width: 100vw;
        display: flex;
        justify-content: center;
        // align-content: center;
        // gap: 1%;
        box-sizing: border-box;
        // align-items: stretch;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        // width: 100%;
        top: 6%;
        height: calc(100vh - 6vh);
        overflow: hidden !important;



        @include EditorFrameMobile.conv_EditorFrame_mobile();
        > .Conv_RightBar {
            display: none !important;
        }
        > .leftBar {
            display: none !important;
        } 
        @include BottomBar.conv_BottomBar();
      }
}

.SubWindow_FontFamily {

    > .content {
        > .TableMain {
            > .ListMain {
                display: flex;
                flex-direction: column;
                > .ListElement {
                    &:hover {
                        background-color: vars.$color-primary-light;
                    }
                    &[state*='active']{
                        background-color: vars.$color-primary;
                    }
                    // &[state*='passive']{

                    // }
                }
            }
        }
    }
}